{
  "presets": [
    "@babel/env",
    "@babel/react",
    "@babel/preset-flow" // parse & remove flow types
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
