html {
	font-size: 62.5%;
}

body {
	font-family: Lato, Arial, sans-serif;
	counter-reset: items-left;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

body.ReactModal__Body--open {
	overflow: hidden;
}