$button-background-color: #fff !default;
$button-border: 1px solid #dbdbdb !default;
$button-color: #363636 !default;
$button-padding-vertical: 1rem !default
$button-padding-horizontal: 0.75em !default

.button {
	background-color: $button-background-color;
	border: $button-border;
	color: $button-color;
	cursor: pointer;
	justify-content: center;
	padding: $button-padding-vertical $button-padding-horizontal;
	text-align: center;
	white-space: nowrap;
	border-radius: 4px;
}

.is-primary {
	background-color: #00d1b2;
	border-color: transparent;
	color: #fff;
}

.is-link {
	background-color: #276cda;
	border-color: transparent;
	color: #fff;
}