.content {
	//background-color: $color-salomon;
	//height: 100%;

	&__container {
		width: calc(100% - 4rem);
		margin: 10px 20px 40px 20px;
		background: $color-content;
		box-shadow: 6px 2px 16px -6px rgba(0, 0, 0, 0.25);

		&:after {
			content: "";
			clear: both;
			display: table;
		}
	}

	&__no-results {
		display: flex;
		justify-content: center;
		@include font-size(2.6);
		color: $color-primary-dark;
		margin: 5rem;
		width: 100%;
	}

	.more-container {
		background: $color-white;
	}

	.btn-more {
		cursor: pointer;
		margin: 40px 20px;
		background: none;
		border: none;
		font-size: 16px;
		font-weight: bold;
		color: $color-more;
	}

	&__comment-container {
		position: relative;
	}
}

.content {
	display: flex;

	@media only screen and (max-width: $bp-medium) {
		flex-direction: column;
	}
}

.overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba($color-black, 0.7);
	left: -100%;
	transition: transform .2s,
	left .4s cubic-bezier(1, 0, 0, 1) .2s,
	background-color .1s;

	&__text {
		color: $color-white;
		@include font-size(2);
	}
}