.content {
	//background-color: $color-salomon;
	//height: 100%;

	&__container {
		width: calc(100% - 4rem);
		margin: 10px 20px 40px 20px;
		background: $color-content;
		box-shadow: 6px 2px 16px -6px rgba(0, 0, 0, 0.25);

		&:after {
			content: "";
			clear: both;
			display: table;
		}
	}
	.more-container {
		background: $color-white;
	}

	.btn-more {
		cursor: pointer;
		margin: 40px 20px;
		background: none;
		border: none;
		font-size: 16px;
		font-weight: bold;
		color: $color-more;
	}

	&__comment-container {
		position: relative;
	}
}

.content {
	display: flex;

	@media only screen and (max-width: $bp-medium) {
		flex-direction: column;
	}
}