fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

label {
	display: block;
	float: left;
	margin-top: -9px;
	margin-left: 10px;
	background: $color-white;
	padding: 2px 5px 2px 5px;
	color: $color-grey-dark-1;
	font-size: 14px;
	overflow: hidden;
	font-weight: normal;
	position: absolute;
}

select {
	box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);
	border-radius: 3px;
	transition: all 375ms ease-in-out;
	@include font-size(1.6);
	font-family: "Oswald", sans-serif;
	font-weight: 200;
}

.input,
.select {
	padding: 7px 22px;
	border: 1px solid #ddd;
	margin-bottom: 30px;
	border-radius: 3px;
	box-sizing: border-box;
	height: 45px;
	line-height: 25px;
	width: 100%;
	display: block;
	outline: 0;
	font-size: 16px;
}

.form {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;

	@include media-queries(XL) {
		width: 100%;
	}

	&__error-msg {
		margin-bottom: 20px;
		@include font-size(1.4);
		color: $material-color-red;
	}
}