.logo {
	height: 3.25rem;

	&__container {
		width: 8rem;
		height: 8rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@include media-queries(L) {
		position: absolute;
		left: 0;
		top: 20px;
	}
}
