.rate__color {
    display: block;
    @include font-size(2);
    @include font-weight(400);

	@include media-queries(M) {
		margin-top: 1rem;
	}

	&--verybad {
		color: $material-color-red;
	}

	&--poor {
		color: $material-color-pink;
	}

	&--fair {
		color: $material-color-yellow;
	}

	&--good {
		color: $material-color-blue;
	}

	&--verygood {
		color: $material-color-green;
	}

	&--excellent {
		color: $material-color-light-green;
	}
}