.rate__color {
	display: block;
	font-size: 20px;
	font-weight: 400;
	margin-top: 2rem;
	margin-bottom: 1rem;

	&--verybad {
		color: $rate-bad;
	}

	&--poor {
		color: $rate-poor;
	}

	&--fair {
		color: $rate-fair;
	}

	&--good {
		color: $rate-good;
	}

	&--verygood {
		color: $rate-very-good;
	}

	&--excellent {
		color: $rate-excellent;
	}
}