@charset "UTF-8";
/* ------------- */
/*		ABSTRACTS	 */
/* ------------- */
/*
* SASS DOC
*/
/* ------------- */
/*		BASE    */
/* ------------- */
@import url("https://fonts.googleapis.com/css?family=Oswald:200,400,700");
html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  counter-reset: items-left;
  color: #777;
  background-image: linear-gradient(to right bottom, #afe0fe, #014c7a);
  background-size: cover;
  background-repeat: no-repeat; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

body.ReactModal__Body--open {
  overflow: hidden; }

.container {
  background-color: #faf9f9;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 100vh; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      width: 100%;
      max-width: 100%; } }

/* COLORS */
/* SPACING */
.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-big {
  margin-top: 8rem !important; }

.u-margin-bottom-huge {
  margin-top: 10rem !important; }

.u-margin-top-small {
  margin-top: 2rem; }

.name {
  display: inline-block;
  font-size: 1.4rem;
  color: #0266b3;
  padding-right: 10px;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px; }

.who {
  text-transform: uppercase;
  color: #a7a9ac; }

.when {
  display: inline-block;
  font-style: italic; }

.text {
  padding: 0 20px;
  font-size: 12px;
  line-height: 1.6;
  margin: 0; }

.rounded {
  border-radius: 50%; }

.center-text {
  text-align: center; }

/* ------------- */
/*		COMPONENTS    */
/* ------------- */
.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 11rem;
      align-content: space-around; } }
  .header__back {
    background-color: transparent;
    background-image: url("../assets/chevron-left.svg");
    background-repeat: no-repeat;
    background-position: center left;
    border: 1px solid #17A5FD;
    text-transform: uppercase;
    text-decoration: none;
    color: #17A5FD;
    padding: .7rem 2rem;
    border-radius: 100px;
    margin-right: 2rem;
    transition: all .2s; }
    .header__back:hover {
      background-color: #17A5FD;
      color: #fff; }

.single-comment__container {
  display: flex;
  position: relative;
  margin: 0;
  width: 100%;
  box-shadow: 4px -3px 9px 1px rgba(0, 0, 0, 0.15); }

.single-comment__avatar-panel {
  border: 1px solid #eeeeee;
  background: #fff; }

.single-comment__person-panel {
  background: #fff; }
  .single-comment__person-panel .when {
    display: inline-block;
    font-size: 14px;
    font-family: 'Quintessential'; }
    .single-comment__person-panel .when::before {
      content: "• ";
      padding: 0 10px; }

.single-comment__content {
  background: #fff;
  display: grid;
  grid-template-columns: 70% 30%;
  padding-bottom: 35px; }

.single-comment__counter-btn-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 33px;
  right: 25px; }

.single-comment__container:not(:first-of-type) {
  width: 85%;
  right: 0;
  display: flex;
  margin: 0;
  float: right; }

.modal {
  background: #fff;
  margin: 20px auto;
  padding: 48px 90px;
  width: 25%;
  position: relative; }
  @media only screen and (max-width: 1024px) {
    .modal {
      padding: 40px 70px;
      width: 60%; } }
  @media only screen and (max-width: 768px) {
    .modal {
      width: 92%;
      padding: 15px;
      margin: 0 auto; } }
  .modal__details {
    text-align: center; }
  .modal__avatar {
    border-radius: 50%;
    max-width: 70px; }
  .modal__name {
    color: #0266b3; }
  .modal__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    background-image: url("../assets/cross.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding: 10px; }
  .modal__label {
    font-size: 10px;
    text-transform: uppercase;
    color: #96989b;
    font-weight: 600;
    margin-right: 10px; }
    .modal__label--value {
      font-size: 10px;
      font-weight: 600; }
  .modal__activity {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%; }
    @media only screen and (max-width: 480px) {
      .modal__activity {
        display: block; }
        .modal__activity .modal__activity-box {
          text-align: center;
          display: grid; } }
  @media only screen and (max-width: 480px) {
    .modal__activity-box {
      margin-bottom: 15px; } }
  .modal__activity-box:nth-child(3) {
    display: flex; }
    @media only screen and (max-width: 480px) {
      .modal__activity-box:nth-child(3) {
        display: grid;
        justify-content: center; } }
  .modal__header-container {
    width: 100%;
    display: inline-flex;
    margin-top: 20px;
    border-top: 1px solid #cacbcd;
    justify-content: center;
    align-items: center; }
    .modal__header-container button {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center; }
      .modal__header-container button svg {
        fill: #FFF; }
    .modal__header-container button.chevron-right {
      background-color: #0266b3; }
    .modal__header-container button.chevron-left {
      background-color: #a7a9ac; }
  .modal__header {
    width: 100%;
    text-align: center;
    font-family: 'Quintessential';
    font-size: 30px;
    color: #2d2c2e; }
  .modal__subheader-container {
    margin-bottom: 45px; }
    @media only screen and (max-width: 480px) {
      .modal__subheader-container {
        max-width: 170px;
        margin: 1px auto 20px auto;
        display: flex; } }
  .modal__subheader {
    text-align: center;
    text-transform: uppercase;
    color: #96989b; }
    @media only screen and (max-width: 480px) {
      .modal__subheader {
        margin: 40px 0; } }
  .modal__numbers-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }
    @media only screen and (max-width: 480px) {
      .modal__numbers-wrapper {
        flex-wrap: wrap;
        max-width: 250px;
        margin: 0 auto; } }
  .modal__numbers-box {
    width: 85px;
    height: 85px;
    background: #dff3fd;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 10px;
    text-align: center; }
    .modal__numbers-box .numbers span {
      display: block;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 8px; }
    .modal__numbers-box .numbers p {
      font-family: 'Quintessential';
      font-size: 12px;
      margin: 0; }
    .modal__numbers-box--box-1 {
      transform: rotate(41deg); }
      .modal__numbers-box--box-1 .numbers {
        transform: rotate(-41deg); }
    .modal__numbers-box--box-2 {
      transform: rotate(78deg); }
      .modal__numbers-box--box-2 .numbers {
        transform: rotate(-78deg); }
    .modal__numbers-box--box-3 {
      transform: rotate(54deg); }
      .modal__numbers-box--box-3 .numbers {
        transform: rotate(-54deg); }
    .modal__numbers-box--box-4 {
      transform: rotate(15deg); }
      .modal__numbers-box--box-4 .numbers {
        transform: rotate(-15deg); }
  .modal__related-people-image {
    max-width: 50px; }

.modal__related-people-wrapper {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 40px; }

.modal__related-people-box {
  height: 85px;
  width: 85px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: repeating-linear-gradient(45deg, #ccc, #fff 1px, #fff 1px, #fff 4px);
  text-align: center; }

.modal__related-people-person {
  font-weight: bold;
  font-size: 14px;
  color: #0266b3; }

.modal__hottest-wrapper {
  margin-bottom: 40px; }

.modal__person-activity {
  background: repeating-linear-gradient(45deg, #ccc, #fff 1px, #fff 1px, #fff 4px);
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center; }
  .modal__person-activity--name {
    font-weight: bold;
    font-size: 14px;
    color: #0266b3;
    padding-right: 10px; }
  .modal__person-activity .column {
    margin-top: 30px;
    text-align: center; }
    .modal__person-activity .column h4 {
      display: inline-block; }
    .modal__person-activity .column h5 {
      font-size: 16px;
      font-family: 'Quintessential';
      color: #0266b3;
      margin: 0; }
  .modal__person-activity--img {
    max-width: 50px;
    position: absolute;
    top: -25px; }

.modal__stats {
  display: inline-flex; }
  .modal__stats--element {
    list-style-type: none;
    padding: 25px 20px;
    font-size: 14px;
    font-style: italic; }
  .modal__stats--number {
    color: #000;
    font-weight: bold;
    margin-right: 5px; }

@media only screen and (max-width: 480px) {
  .modal__activity-level {
    display: flex; } }

.modal__activity-box [class*="level-"] {
  height: 18px;
  width: 18px;
  background: none;
  display: inline-flex;
  margin: 0 5px; }

.modal [class*="level-"].active svg {
  fill: #FD3A37; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: #f2f2f2; } }
  .search__input {
    font-family: inherit;
    font-size: 1.4rem;
    background-color: #f2f2f2;
    border: none;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    background-image: url("../assets/magnifying-glass.svg");
    background-repeat: no-repeat;
    background-position: 98%; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee;
      border: 1px solid rgba(23, 165, 253, 0.4);
      transition: all .2s; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__button {
    background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: #f2f2f2;
    background-image: url("../assets/SVG/magnifying-glass.svg");
    background-repeat: no-repeat; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }

.hotel-view {
  min-height: 500px; }

.sidebar {
  background-color: #333;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  padding: 0;
  display: flex;
  margin: 0;
  padding: 0; }
  .side-nav__item {
    position: relative;
    margin: 0;
    cursor: pointer;
    width: 20rem; }
    .side-nav__item:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: #afe0fe;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
      background-repeat: no-repeat;
      background-position: 20px center; }
      @media only screen and (max-width: 37.5em) {
        .side-nav__item:before {
          background-position: center top; } }
    .side-nav__item--active::before {
      background-color: #17A5FD; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        width: 200px;
        flex: 1; } }
    @media only screen and (max-width: 68.75em) {
      .side-nav__item {
        flex: 1 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex; } }
    .side-nav__item:nth-child(1):before {
      background-image: url("../assets/SVG/home.svg"); }
    .side-nav__item:nth-child(2):before {
      background-image: url("../assets/SVG/paypal.svg"); }
    .side-nav__item:nth-child(3):before {
      background-image: url("../assets/SVG/shopping-cart.svg"); }
    .side-nav__item:nth-child(4):before {
      background-image: url("../assets/SVG/folder.svg"); }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background: #17A5FD; }
  .side-nav__link:link, .side-nav__link:visited {
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 0;
    z-index: 10;
    position: relative;
    width: 100%;
    height: 4.6rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 68.75em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 0;
        width: 100%;
        height: 44px; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        margin-bottom: .7rem;
        width: 1.5rem;
        height: 1.5rem; } }
  .side-nav__link span {
    margin-left: 8rem; }

.legal {
  font-size: 1.2rem;
  color: #ccc;
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.hotel-list {
  width: 100%; }
  .hotel-list__more {
    display: flex;
    justify-content: center; }

.gallery__container {
  display: flex; }

.gallery__item {
  margin: 0;
  flex-grow: 1;
  display: flex; }

.gallery__photo {
  width: 302px;
  height: 181px;
  display: block;
  object-fit: cover;
  align-items: stretch;
  flex-grow: 1; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2; }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
    .overview__stars .fa-star {
      font-size: 16px;
      font-size: 1.6rem; }
  .overview__location {
    font-size: 1.2rem;
    display: flex; }
  .overview__rating {
    background-color: #17A5FD;
    margin-left: 3rem;
    color: #fff;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .overview__rating-average {
    font-size: 22.5px;
    font-size: 2.25rem;
    font-weight: 400; }
  .overview__rating-count {
    font-size: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 200; }

.opinion__hotel-rating {
  font-size: 24px;
  font-size: 2.4rem;
  color: #17A5FD;
  margin-right: 0.5rem; }

.opinion__hotel-reviews {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 200; }

.hotel__container {
  grid-template-columns: 40rem 1fr 20rem;
  grid-template-rows: 8rem 8rem auto;
  display: grid;
  padding: 1.5rem;
  background: #faf9f9;
  border-bottom: 1px solid #eee;
  box-shadow: 2px 2px 19px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  position: relative; }
  .hotel__container:hover {
    background: #f2f2f2; }

.hotel__image-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .hotel__image-container:hover .overlay {
    left: 0; }

.hotel__image {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.hotel__details-box {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 0 1.5rem;
  border-left: 1px solid #ccc;
  position: relative; }

.hotel__details--name {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  grid-column-start: 2; }

.hotel__details--description {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 1.5rem;
  align-self: center;
  transition: all 4s; }

.hotel__details--distance span {
  font-weight: bold;
  font-size: 12px;
  font-size: 1.2rem; }

.hotel__details--text {
  font-size: 16px;
  font-size: 1.6rem;
  color: #777;
  margin: 0;
  font-weight: 200; }

.hotel__details--isNew {
  width: 55px;
  position: absolute;
  animation: move 0.7s ease infinite alternate-reverse; }

.hotel__details--adressBox {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  grid-column-start: 2;
  grid-row-start: 1;
  margin-left: 1.5rem; }
  .hotel__details--adressBox::before {
    content: '';
    position: absolute;
    background: url("../assets/room.svg");
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain; }

.hotel__details--adress {
  margin-right: 5px;
  font-size: 11px;
  font-size: 1.1rem;
  position: relative;
  margin-left: 30px; }

.hotel__details--more {
  bottom: 0;
  position: absolute; }
  .hotel__details--more .btn, .hotel__details--more .btn--less {
    display: flex; }
    .hotel__details--more .btn svg, .hotel__details--more .btn--less svg {
      margin-left: 8px; }

.hotel__details--priceValue {
  margin: 0;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 200;
  color: #777; }
  .hotel__details--priceValue span {
    color: #014c7a; }

.hotel__link {
  font-size: 20px;
  font-size: 2rem;
  text-decoration: none;
  color: #014c7a;
  font-weight: 400; }
  .hotel__link:hover {
    text-decoration: underline; }

.hotel__name-container {
  display: flex;
  grid-column-start: 2;
  grid-row-start: 1;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  position: absolute; }

.hotel__container--list {
  grid-template-columns: 15rem 1fr 52rem;
  grid-template-rows: 8rem auto; }
  .hotel__container--list .hotel__details-box {
    display: flex;
    align-items: center;
    grid-row-end: 2; }
  .hotel__container--list .hotel__image-container {
    grid-row-end: 2; }
  .hotel__container--list .hotel__details--more {
    right: 0; }
  .hotel__container--list .rate__color--fair {
    margin: 0;
    margin-right: 10px; }
  .hotel__container--list .hotel__details--description {
    grid-column-start: 2;
    grid-row-start: 2; }
  .hotel__container--list .facilities {
    grid-column-start: 3; }
  .hotel__container--list .hotel__details--price {
    margin-right: 10px; }
  .hotel__container--list .opinion__hotel-rating {
    margin-right: 10px; }
  .hotel__container--list .hotel__link {
    font-size: 25px;
    font-size: 2.5rem; }
  .hotel__container--list .hotel__details--adress {
    font-size: 16px;
    font-size: 1.6rem; }
  .hotel__container--list .hotel__details--adressBox {
    margin-top: 3rem; }
  .hotel__container--list .hotel__details--priceValue {
    font-size: 30px;
    font-size: 3rem; }

@keyframes move {
  0% {
    opacity: 0.5;
    transform: scale(1); }
  100% {
    opacity: 1;
    transform: scale(1.3); } }

.credits {
  text-transform: uppercase; }
  .credits__value {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: underline;
    color: #B0DF60;
    margin-left: 1rem; }

.payments {
  margin-right: 2rem;
  margin-left: 2rem; }

.filters {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+100,7db9e8+100 */
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
  /* IE6-9 */ }
  .filters__views {
    padding: 1rem;
    display: flex;
    margin-right: 1rem; }
  .filters__filter {
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
    transition: all .4s; }
    .filters__filter svg {
      fill: #fff; }
    .filters__filter:hover svg {
      fill: #333; }
    .filters__filter--active svg {
      fill: #333; }
  .filters__counter {
    right: 0;
    position: absolute;
    margin-right: 2rem;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 200; }
  .filters__counter-text {
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: #fff; }
  .filters__counter-number {
    font-size: 45px;
    font-size: 4.5rem;
    font-weight: 700;
    color: #333;
    margin: 0 10px;
    text-decoration: none; }

.btn, .btn--less, .btn--less:hover {
  background: #dc173f;
  border: none;
  color: #fff;
  padding: 1em 3rem;
  transition: background .4s ease;
  text-transform: uppercase;
  outline: none; }
  .btn:hover, .btn--less:hover {
    background: #bc1436; }
  .btn--login {
    display: flex;
    align-items: center;
    background: #B0DF60;
    margin-right: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 2px; }
    .btn--login:hover {
      background: #a1d942; }
    .btn--login svg {
      fill: #fff;
      margin-left: 10px; }
  .btn--logout {
    display: flex;
    align-items: center;
    background: #014c7a;
    margin-right: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 2px; }
    .btn--logout:hover {
      background: #015b93; }
    .btn--logout svg {
      fill: #fff;
      margin-left: 10px; }
  .btn--underline {
    background: transparent;
    color: #014c7a;
    text-decoration: underline;
    padding: 10px 0;
    font-size: 12px; }
    .btn--underline:hover {
      color: #fff;
      background: #014c7a; }
  .btn--no-underline {
    background: transparent;
    border: 1px solid #014c7a;
    color: #014c7a;
    background-image: none; }
    .btn--no-underline:hover {
      background-image: none;
      color: #fff;
      background: #014c7a; }
  .btn--more {
    border: 1px solid #014c7a;
    background: #fff;
    color: #014c7a;
    background-image: url("../assets/chevron-small-down.svg");
    background-repeat: no-repeat;
    background-position: 90% 45%; }
    .btn--more:hover {
      color: #fff; }
  .btn--less, .btn--less:hover {
    border: 1px solid #014c7a;
    background-image: url("../assets/chevron-small-up.svg");
    background-repeat: no-repeat;
    background-position: 90% 45%; }
  .btn--inline {
    border: none;
    color: #17A5FD;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding: 0;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s; }
    .btn--inline:hover {
      color: #333;
      background: transparent; }
  .btn--payment {
    background: #17A5FD;
    font-family: "Oswald", sans-serif;
    border-radius: 2px;
    padding: 1rem 1.5rem;
    margin: 0 2rem; }
  .btn--close {
    background-color: #ccc;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
    border-radius: 30px;
    transition: all .4s;
    width: 95px;
    text-decoration: none; }
    .btn--close:hover {
      background-color: #777; }
  .btn--cancel {
    background-color: #ED5E68;
    color: #fff;
    border-radius: 4px;
    font-size: 17px;
    font-size: 1.7rem;
    text-decoration: none;
    text-transform: none;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    padding: 10px 45px; }
  .btn--next {
    background-color: #8388A4;
    color: #363B59;
    border-radius: 4px;
    font-size: 17px;
    font-size: 1.7rem;
    text-decoration: none;
    text-transform: none;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    padding: 10px 45px; }
    .btn--next:hover {
      background-color: #363B59;
      color: #fff; }

.detail {
  display: flex;
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: #faf9f9;
  border-bottom: 1px solid #f2f2f2;
  font-weight: 200;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.5px; }
  .detail .description {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: .5rem; }
  .detail .list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    flex-wrap: wrap; }
    .detail .list__item {
      flex: 0 0 50%;
      margin-bottom: .7rem; }
      .detail .list__item::before {
        content: '';
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;
        background-color: #17A5FD;
        -webkit-mask-image: url(../assets/chevron-thin-right.svg);
        -webkit-mask-size: cover; }
  .detail .recommend {
    font-size: 1.3rem;
    color: #999;
    display: flex;
    align-items: center; }
  .detail .user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .detail .user-reviews .review {
      background-color: #fff;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
      padding: 3rem;
      margin: 0;
      margin-bottom: 3.5rem;
      position: relative;
      overflow: hidden; }
      .detail .user-reviews .review::before {
        content: '\201c';
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: #f2f2f2;
        font-family: sans-serif;
        z-index: 1; }
      .detail .user-reviews .review__text {
        margin: 0;
        margin-bottom: 2rem;
        z-index: 10;
        position: relative; }
      .detail .user-reviews .review__user {
        display: flex;
        align-items: center; }
      .detail .user-reviews .review__user-box {
        margin-right: auto; }
      .detail .user-reviews .review__user-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem; }
      .detail .user-reviews .review__user-date {
        font-size: 1rem;
        color: #999; }
      .detail .user-reviews .review__rating {
        color: #17A5FD;
        font-size: 2.2rem;
        font-weight: 300; }

.facilities {
  grid-column-start: 2;
  margin: 1.5rem; }
  .facilities__header {
    font-size: 15px;
    font-size: 1.5rem;
    margin-bottom: 1.5rem; }
  .facilities__icon {
    margin-right: 1.5rem;
    opacity: 0.6; }
  .facilities__container {
    margin-top: 1rem; }

.cube-folding {
  width: 50px;
  height: 50px;
  display: inline-block;
  transform: rotate(45deg);
  font-size: 0; }
  .cube-folding span {
    position: relative;
    width: 25px;
    height: 25px;
    transform: scale(1.1);
    display: inline-block; }
    .cube-folding span::before {
      content: '';
      background-color: #17A5FD;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 25px;
      height: 25px;
      transform-origin: 100% 100%;
      animation: folding 2.50s infinite linear both; }
  .cube-folding .leaf2 {
    transform: rotateZ(90deg) scale(1.1); }
    .cube-folding .leaf2::before {
      animation-delay: .30s;
      background-color: #029af8; }
  .cube-folding .leaf3 {
    transform: rotateZ(270deg) scale(1.1); }
    .cube-folding .leaf3::before {
      animation-delay: .90s;
      background-color: #029af8; }
  .cube-folding .leaf4 {
    transform: rotateZ(180deg) scale(1.1); }
    .cube-folding .leaf4::before {
      animation-delay: .60s;
      background-color: #028adf; }

@keyframes folding {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

.cube-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  text-align: center; }
  .cube-wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    margin: auto;
    width: 90px;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    filter: blur(2px);
    border-radius: 100%;
    z-index: 1;
    animation: shadow 0.5s ease infinite alternate; }
  .cube-wrapper .loading {
    font-size: 12px;
    letter-spacing: 0.1em;
    display: block;
    color: #17A5FD;
    position: relative;
    top: 25px;
    z-index: 2;
    animation: text 0.5s ease infinite alternate; }

@keyframes text {
  100% {
    top: 35px; } }

@keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px; } }

.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px; }

.login__profile {
  margin-right: 2rem;
  font-size: 16px;
  font-size: 1.6rem; }
  .login__profile--name {
    font-weight: 200;
    margin: 0 .3rem; }

.rating {
  display: flex;
  height: 100%; }

.legal {
  background-color: #333; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }
  .lds-ellipsis__item {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #17A5FD;
    animation-timing-function: cubic-bezier(0, 1, 1, 0); }
    .lds-ellipsis__item:nth-child(1) {
      left: 6px;
      animation: lds-ellipsis1 0.6s infinite; }
    .lds-ellipsis__item:nth-child(2) {
      left: 6px;
      animation: lds-ellipsis2 0.6s infinite; }
    .lds-ellipsis__item:nth-child(3) {
      left: 26px;
      animation: lds-ellipsis2 0.6s infinite; }
    .lds-ellipsis__item:nth-child(4) {
      left: 45px;
      animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }

.hotel-form__review, .hotel-form__container {
  width: 90%;
  height: 525px;
  margin: 85px auto;
  background: #f2f2f2;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  padding-left: 40px; }

.hotel-form__container {
  padding-right: 40px;
  background: #fff;
  height: 100%; }

.hotel-form__header {
  color: #777;
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 22px; }

.hotel-form__values {
  display: flex;
  flex-direction: column;
  margin: 0 0 13px 0; }
  .hotel-form__values label {
    color: #17A5FD;
    margin-bottom: 8px;
    font-size: 14px;
    font-size: 1.4rem; }

.hotel-form__value {
  font-size: 19px;
  font-size: 1.9rem;
  color: #777;
  font-weight: 200; }

.hotel-form__valuesBox {
  display: flex;
  position: relative;
  width: 75%;
  box-sizing: border-box; }

.hotel-form__valueBox {
  width: 25%;
  margin-right: 25px; }

.hotel-form__close {
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: white;
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }

.hotel-form__send {
  background-color: #B0DF60;
  width: 25%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #C9E995;
  text-transform: uppercase; }

.hotel-form__sendIcon {
  width: 55px;
  margin-bottom: 15px; }

.hotel-form__form input[type="text"],
.hotel-form__form input[type="number"],
.hotel-form__form select {
  padding: 7px 22px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  border-radius: 3px;
  box-sizing: content-box;
  height: 25px;
  line-height: 25px;
  width: 100%;
  display: block;
  outline: 0;
  font-size: 16px; }

.hotel-form__formValuesBox {
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box; }

.hotel-form__formValueBox {
  width: 33.3333%;
  margin-right: 70px; }
  .hotel-form__formValueBox label {
    display: block;
    float: left;
    height: 26px;
    margin-top: -9px;
    margin-left: 10px;
    background: white;
    padding: 2px 5px 2px 5px;
    color: #17A5FD;
    font-size: 14px;
    overflow: hidden;
    font-weight: normal;
    position: absolute; }

.hotel-form__buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px; }

.success__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

.success__subheader {
  color: #777;
  font-size: 12px;
  font-size: 1.2rem; }

.success__icon {
  height: 6.25rem; }

.forbidden__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px; }

.forbidden__text {
  font-size: 35px;
  font-size: 3.5rem; }

.weather {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  justify-content: flex-end; }
  .weather__currently {
    margin-right: 2rem;
    font-size: 19px;
    font-size: 1.9rem;
    font-weight: 200; }
  .weather__temperature {
    display: flex;
    font-size: 24px;
    font-size: 2.4rem;
    align-items: center; }
  .weather__celcius {
    font-weight: 400;
    font-size: 54px;
    font-size: 5.4rem;
    margin: 0 2rem 0 0; }

.icon {
  color: #161616;
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 10rem; }

.icon {
  position: relative;
  display: inline-block;
  width: 12em;
  height: 10em;
  font-size: 1em;
  /* control icon size here */ }

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: yellow;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em yellow;
  animation: spin 12s infinite linear; }

.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: yellow;
  border-radius: 0.25em;
  box-shadow: 0 5.375em yellow; }

.rays:before,
.rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: yellow;
  border-radius: 0.25em;
  box-shadow: 0 5.375em yellow; }

.rays:before {
  transform: rotate(120deg); }

.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff; }

.cloud:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: currentColor;
  box-shadow: 0 0.4375em 0 -0.0625em #fff; }

.cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em #fff, 2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
  opacity: 0.3;
  transform: scale(0.5) translate(6em, -3em);
  animation: cloud 4s linear infinite; }

.cloud:nth-child(2):after {
  background: #fff; }

.cloud + .sun {
  margin: -2em 1em; }

.rain,
.lightning,
.snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: transparent; }

.rain:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #0cf;
  border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
  box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  transform: rotate(-28deg);
  animation: rain 3s linear infinite; }

.bolt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em 0 0 -0.125em;
  color: #fff;
  opacity: 0.3;
  animation: lightning 2s linear infinite; }

.bolt:nth-child(2) {
  width: 0.5em;
  height: 0.25em;
  margin: -1.75em 0 0 -1.875em;
  transform: translate(2.5em, 2.25em);
  opacity: 0.2;
  animation: lightning 1.5s linear infinite; }

.bolt:before,
.bolt:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg); }

.bolt:after {
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  transform: skewX(-10deg); }

.bolt:nth-child(2):before {
  margin: -0.75em 0 0 -0.5em;
  border-top: 0.625em solid transparent;
  border-right: 0.375em solid;
  border-bottom: 0.375em solid;
  border-left: 0.25em solid transparent; }

.bolt:nth-child(2):after {
  margin: -0.125em 0 0 -0.125em;
  border-top: 0.375em solid;
  border-right: 0.25em solid transparent;
  border-bottom: 0.625em solid transparent;
  border-left: 0.375em solid; }

.flake:before,
.flake:after {
  content: '\2744';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.025em 0 0 -1.0125em;
  color: #2d2d2d;
  list-height: 1em;
  opacity: 1;
  animation: spin 8s linear infinite reverse; }

.flake:after {
  margin: 0.125em 0 0 -1em;
  font-size: 1.5em;
  opacity: 0.4;
  animation: spin 14s linear infinite; }

.flake:nth-child(2):before {
  margin: -0.5em 0 0 0.25em;
  font-size: 1.25em;
  opacity: 1;
  animation: spin 10s linear infinite; }

.flake:nth-child(2):after {
  margin: 0.375em 0 0 0.125em;
  font-size: 2em;
  opacity: 0.4;
  animation: spin 16s linear infinite reverse; }

/* Animations */
@keyframes spin {
  100% {
    transform: rotate(360deg); } }

@keyframes cloud {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em); } }

@keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf; }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2); }
  50% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2); }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf; } }

@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2; }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1; }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2; } }

/* ------------- */
/*		LAYOUT    */
/* ------------- */
.content__container {
  width: calc(100% - 4rem);
  margin: 10px 20px 40px 20px;
  background: #fbfbfb;
  box-shadow: 6px 2px 16px -6px rgba(0, 0, 0, 0.25); }
  .content__container:after {
    content: "";
    clear: both;
    display: table; }

.content__no-results {
  display: flex;
  justify-content: center;
  font-size: 26px;
  font-size: 2.6rem;
  color: #014c7a;
  margin: 5rem;
  width: 100%; }

.content .more-container {
  background: #fff; }

.content .btn-more {
  cursor: pointer;
  margin: 40px 20px;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #dc173f; }

.content__comment-container {
  position: relative; }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  left: -100%;
  transition: transform 0.2s, left 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .overlay__text {
    color: #fff;
    font-size: 20px;
    font-size: 2rem; }

.form-error {
  margin-bottom: 20px;
  color: #BC2026; }

.button {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  color: #363636;
  cursor: pointer;
  padding: 1rem 0.75em;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .4s ease;
  line-height: 22px;
  outline: none; }

.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff; }
  .is-primary--is-outlined {
    background-color: transparent;
    border-color: #00d1b2;
    color: #00d1b2; }
    .is-primary--is-outlined:hover {
      background-color: #00d1b2;
      border-color: #00d1b2;
      color: #fff; }

.is-link {
  background-color: #276cda;
  border-color: transparent;
  color: #fff; }
  .is-link:hover {
    background: #3d7bde; }
  .is-link--is-outlined {
    background-color: transparent;
    border-color: #276cda;
    color: #276cda; }
    .is-link--is-outlined:hover {
      background-color: #276cda;
      border-color: #276cda;
      color: #fff; }

.is-danger {
  background-color: #ED5E68;
  border-color: transparent;
  color: #fff; }
  .is-danger:hover {
    background: #f0757e; }
  .is-danger svg {
    fill: #fff;
    margin-left: 10px;
    margin-top: 1px; }
  .is-danger--is-outlined {
    background-color: transparent;
    border-color: #ED5E68;
    color: #ED5E68; }
    .is-danger--is-outlined:hover {
      background-color: #ED5E68;
      border-color: #ED5E68;
      color: #fff; }

.is-success {
  background: #B0DF60;
  border-color: transparent;
  color: #fff; }
  .is-success:hover {
    background: #bbe375; }
  .is-success svg {
    fill: #fff;
    margin-left: 10px; }
  .is-success--is-outlined {
    background-color: transparent;
    border-color: #B0DF60;
    color: #B0DF60; }
    .is-success--is-outlined:hover {
      background-color: #B0DF60;
      border-color: #B0DF60;
      color: #fff; }

.is-info {
  background-color: #8388A4;
  border-color: transparent;
  color: #363B59; }
  .is-info:hover {
    background-color: #363B59;
    color: #fff; }
  .is-info--is-outlined {
    background-color: transparent;
    border-color: #363B59;
    color: #363B59; }
    .is-info--is-outlined:hover {
      background-color: #363B59;
      border-color: #363B59;
      color: #fff; }

.is-warning {
  background-color: #ffdd57;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7); }
  .is-warning:hover {
    background: #ffe271; }
  .is-warning--is-outlined {
    background-color: transparent;
    border-color: #ffdd57;
    color: #ffdd57; }
    .is-warning--is-outlined:hover {
      background-color: #ffdd57;
      border-color: #ffdd57;
      color: #fff; }

.is-google {
  color: #fff;
  background-color: #dd4b39;
  position: relative;
  padding-left: 65px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .is-google svg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 52px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    line-height: 45px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 1.8em;
    align-items: center;
    height: 100%; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.fa-star {
  color: #014c7a;
  font-size: 12px;
  font-size: 1.2rem; }

.fa-angle-up {
  color: #faf9f9; }

.fa-angle-down {
  color: #014c7a; }

.rate__color {
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem; }
  .rate__color--verybad {
    color: #BC2026; }
  .rate__color--poor {
    color: #EF4723; }
  .rate__color--fair {
    color: #F68E1F; }
  .rate__color--good {
    color: #FECC09; }
  .rate__color--verygood {
    color: #B0DF60; }
  .rate__color--excellent {
    color: #0F9246; }

/* ------------- */
/*		PAGES    */
/* ------------- */
/* ------------- */
/*		THEMES    */
/* ------------- */
/* ------------- */
/*		VENDORS    */
/* ------------- */
