/* ------------- */
/*		ABSTRACTS	 */
/* ------------- */
/*
* SASS DOC
*/
@import url("https://fonts.googleapis.com/css?family=Oswald:200,400,700");
@keyframes animeSlideBottom {
  0% {
    transform: translate3d(0, 40px, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes animeSlideTop {
  0% {
    transform: translate3d(0, -80px, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes animeHeight {
  0% {
    opacity: 0;
    height: 0; }
  100% {
    opacity: 1;
    height: 150px; }
  0% {
    opacity: 0;
    height: 0; } }

@keyframes animeHeightInverse {
  0% {
    opacity: 1;
    height: 150px; }
  100% {
    opacity: 0;
    height: 0; } }

/* ------------- */
/*		BASE    */
/* ------------- */
html {
  box-sizing: border-box;
  font-size: 62.5%; }

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%; } }

body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  counter-reset: items-left;
  color: #777; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

body.ReactModal__Body--open {
  overflow: hidden; }

#root {
  position: relative; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-big {
  margin-top: 8rem !important; }

.u-margin-bottom-huge {
  margin-top: 10rem !important; }

.u-margin-top-small {
  margin-top: 2rem; }

.name {
  display: inline-block;
  font-size: 1.4rem;
  color: #333;
  padding-right: 10px;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px; }

.text {
  padding: 0 20px;
  font-size: 12px;
  line-height: 1.6;
  margin: 0; }

.rounded {
  border-radius: 50%; }

.center-text {
  text-align: center; }

.view-header {
  font-size: 24px;
  font-size: 2.4rem;
  color: #333;
  font-weight: 400;
  margin-top: 8rem; }

/* ------------- */
/*		LAYOUT    */
/* ------------- */
.content {
  background: #F5F8FD;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 65px); }

@media only screen and (max-width: 56.25em) {
  .content {
    flex-direction: column; } }

.content__header-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 8rem; }

@media only screen and (max-width: 1024px) {
  .content__header-wrapper {
    margin: 0 5rem; } }

.content__container {
  height: 100%;
  min-height: calc(100vh - 65px); }

@media only screen and (max-width: 768px) {
  .content__container {
    height: 100%; } }

.content__container:after {
  content: "";
  clear: both;
  display: table; }

.content__no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-size: 2.6rem;
  color: #7498FB;
  width: 50%;
  height: 100px;
  background: #fff;
  border-radius: 5px;
  margin: 5rem auto; }

.content .more-container {
  background: #fff; }

.content .btn-more {
  cursor: pointer;
  margin: 40px 20px;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #dc173f; }

.content__comment-container {
  position: relative; }

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  left: -100%;
  transition: transform 0.2s, left 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }

.overlay__text {
  color: #fff;
  font-size: 20px;
  font-size: 2rem; }

.container {
  background-color: #faf9f9;
  width: calc(100% - 8rem);
  min-height: 100vh; }

@media only screen and (max-width: 768px) {
  .container {
    width: 100%; } }

.message__notSupported {
  margin: 0 3rem;
  text-align: center;
  font-size: 25px;
  font-size: 2.5rem;
  color: #dc173f; }

.button {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  color: #363636;
  cursor: pointer;
  padding: 1rem 0.75em;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .4s ease;
  line-height: 22px;
  outline: none; }

.is-primary {
  background-color: #58E0C2;
  border-color: transparent;
  color: #fff; }

.is-primary:hover {
  background: #6ee4ca; }

.is-primary--is-outlined {
  background-color: transparent;
  border-color: #58E0C2;
  color: #58E0C2; }

.is-primary--is-outlined:hover {
  background-color: #58E0C2;
  border-color: #58E0C2;
  color: #fff; }

.is-link {
  background-color: #7498FB;
  border-color: transparent;
  color: #fff; }

.is-link:hover {
  background: #8daafc; }

.is-link--is-outlined {
  background-color: transparent;
  border-color: #7498FB;
  color: #7498FB; }

.is-link--is-outlined:hover {
  background-color: #7498FB;
  border-color: #7498FB;
  color: #fff; }

.is-danger {
  background-color: #ED5E68;
  border-color: transparent;
  color: #fff; }

.is-danger:hover {
  background: #f0757e; }

.is-danger svg {
  fill: #fff;
  margin-left: 10px;
  margin-top: 1px; }

.is-danger--is-outlined {
  background-color: transparent;
  border-color: #ED5E68;
  color: #ED5E68; }

.is-danger--is-outlined:hover {
  background-color: #ED5E68;
  border-color: #ED5E68;
  color: #fff; }

.is-success {
  background: #58E0C2;
  border-color: transparent;
  color: #fff; }

.is-success:hover {
  background: #6ee4ca; }

.is-success svg {
  fill: #fff;
  margin-left: 10px; }

.is-success--is-outlined {
  background-color: transparent;
  border-color: #58E0C2;
  color: #58E0C2; }

.is-success--is-outlined:hover {
  background-color: #58E0C2;
  border-color: #58E0C2;
  color: #fff; }

.is-info {
  background-color: #8388A4;
  border-color: transparent;
  color: #363B59; }

.is-info:hover {
  background-color: #363B59;
  color: #fff; }

.is-info--is-outlined {
  background-color: transparent;
  border-color: #363B59;
  color: #363B59; }

.is-info--is-outlined:hover {
  background-color: #363B59;
  border-color: #363B59;
  color: #fff; }

.is-warning {
  background-color: #F5A622;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7); }

.is-warning:hover {
  background: #f6b03a; }

.is-warning--is-outlined {
  background-color: transparent;
  border-color: #F5A622;
  color: #F5A622; }

.is-warning--is-outlined:hover {
  background-color: #F5A622;
  border-color: #F5A622;
  color: #fff; }

.is-google {
  color: #fff;
  background-color: #dd4b39;
  max-width: 135px;
  position: relative;
  padding-left: 65px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.is-google:hover {
  background: #e15f4f; }

.is-google svg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 52px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  line-height: 45px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 1.8em;
  align-items: center;
  height: 100%; }

.inline {
  border: none;
  color: #7498FB;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 0;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }

.inline:hover {
  color: #333;
  background: transparent; }

.logo {
  height: 3.25rem; }

.logo__container {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.fa-star {
  color: #777;
  font-size: 12px;
  font-size: 1.2rem; }

.fa-angle-up {
  color: #faf9f9; }

.fa-angle-down {
  color: #7498FB; }

.rate__color {
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem; }

@media only screen and (max-width: 768px) {
  .rate__color {
    margin-top: 1rem; } }

.rate__color--verybad {
  color: #BC2026; }

.rate__color--poor {
  color: #EF4723; }

.rate__color--fair {
  color: #F68E1F; }

.rate__color--good {
  color: #FECC09; }

.rate__color--verygood {
  color: #B0DF60; }

.rate__color--excellent {
  color: #0F9246; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

label {
  display: block;
  float: left;
  margin-top: -9px;
  margin-left: 10px;
  background: white;
  padding: 2px 5px 2px 5px;
  color: #333;
  font-size: 14px;
  overflow: hidden;
  font-weight: normal;
  position: absolute; }

select {
  box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 375ms ease-in-out;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  font-weight: 200; }

.input,
.select {
  padding: 7px 22px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  height: 45px;
  line-height: 25px;
  width: 100%;
  display: block;
  outline: 0;
  font-size: 16px; }

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }

@media only screen and (max-width: 1600px) {
  .form {
    width: 100%; } }

.form__error-msg {
  margin-bottom: 20px;
  font-size: 14px;
  font-size: 1.4rem;
  color: #BC2026; }

.message {
  padding: 15px 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: fixed;
  right: 0;
  min-width: 300px;
  font-size: 16px;
  font-size: 1.6rem;
  z-index: 999; }

.message--static {
  position: relative; }

.message__success {
  color: #115b4b;
  background-color: #aef0e1;
  border-color: #aef0e1; }

.message__success .message__close {
  color: #115b4b; }

.message__danger {
  color: #720d14;
  background-color: #f7babe;
  border-color: #f7babe; }

.message__danger .message__close {
  color: #720d14; }

.message__warning {
  color: #482e03;
  background-color: #f9cd84;
  border-color: #f9cd84; }

.message__warning .message__close {
  color: #482e03; }

.message__info {
  color: #052e9e;
  background-color: #d7e1fe;
  border-color: #d7e1fe; }

.message__info .message__close {
  color: #052e9e; }

.message__close {
  background: none;
  border: none;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px; }

.dropdown__menu {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0; }

.dropdown__input {
  display: none; }

.dropdown__input:checked ~ ul.dropdown__submenu {
  max-height: 300px;
  transition: max-height 0.5s ease-in; }

.dropdown__menu-item {
  list-style-type: none; }

.dropdown__submenu {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  border: 1px solid #f2f2f2;
  transition: max-height 0.5s ease-out;
  position: absolute;
  min-width: 200px;
  top: 100%;
  z-index: 1;
  right: 0; }

.dropdown__submenu li {
  width: 100%; }

@media only screen and (max-width: 768px) {
  .dropdown__submenu {
    min-width: 100%; } }

.dropdown__submenu-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 12px;
  color: #ddd;
  text-decoration: none;
  background: #fff;
  transition: background .3s;
  white-space: nowrap; }

@media only screen and (max-width: 768px) {
  .dropdown__submenu-item {
    align-items: center;
    justify-content: center; } }

.dropdown__label {
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 3em;
  transition: background 0.3s;
  cursor: pointer; }

/* ------------- */
/*		COMPONENTS    */
/* ------------- */
.auth__header {
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  text-align: center; }

.auth__signup {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 17px 0;
  text-align: center; }

.header {
  font-size: 1.4rem;
  height: 8rem;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto; } }

.header__back {
  background-color: transparent;
  background-image: url("../assets/SVG/chevron-left.svg");
  background-repeat: no-repeat;
  background-position: center left;
  border: 1px solid #7498FB;
  text-transform: uppercase;
  text-decoration: none;
  color: #7498FB;
  padding: .7rem 2rem;
  border-radius: 100px;
  margin-right: 2rem;
  transition: all .2s; }

.header__back:hover {
  background-color: #7498FB;
  color: #fff; }

.box {
  background: #fff;
  transition: all .4s linear;
  border-radius: 5px;
  display: block;
  width: calc(25% - 10px);
  height: 100%;
  position: relative; }

@media only screen and (max-width: 1600px) {
  .box {
    width: calc(25% - 3rem);
    max-width: 235px; } }

@media only screen and (max-width: 1024px) {
  .box {
    width: calc(25% - 10px);
    max-width: 175px; } }

@media only screen and (max-width: 768px) {
  .box {
    width: calc(50% - 10px);
    max-width: 200px; }
  .box:nth-child(odd) {
    margin-bottom: 20px;
    margin-right: 20px; } }

.box:hover {
  box-shadow: 3px 12px 25px 1px rgba(0, 0, 0, 0.2); }

.box:after {
  content: "";
  display: block;
  padding-bottom: 100%; }

.box__container {
  display: flex;
  margin: 10px 8rem;
  justify-content: space-between; }

@media only screen and (max-width: 1024px) {
  .box__container {
    margin: 10px 5rem; } }

@media only screen and (max-width: 768px) {
  .box__container {
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto;
    justify-content: center; } }

.box__content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly; }

.box__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.box__icon::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain; }

.box__icon--1 {
  background: #58E0C2; }

.box__icon--1::before {
  background-image: url("../assets/SVG/office.svg"); }

.box__icon--2 {
  background: #7498FB; }

.box__icon--2::before {
  background-image: url("../assets/SVG/star-full.svg"); }

.box__icon--3 {
  background: #F5A622; }

.box__icon--3::before {
  background-image: url("../assets/SVG/bubbles2.svg"); }

.box__icon--4 {
  background: #FE8DB2; }

.box__icon--4::before {
  background-image: url("../assets/SVG/pie-chart.svg"); }

.box__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative; }

.box__text--title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 200;
  animation: animeSlideBottom;
  animation-duration: 0.6s; }

.box__text--value {
  font-size: 46px;
  font-size: 4.6rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: #333;
  animation: animeSlideTop;
  animation-duration: 0.6s; }

.modal {
  background: #fff;
  margin: 20px auto;
  padding: 0;
  width: 50vw;
  max-width: 500px;
  position: relative; }

.modal:focus {
  outline: none; }

@media only screen and (max-width: 1024px) {
  .modal {
    width: 60%; } }

@media only screen and (max-width: 768px) {
  .modal {
    width: 92%;
    margin: 0 auto;
    top: 25%; } }

.search {
  flex: 0 0 60%;
  display: flex;
  align-items: center;
  height: 8rem;
  margin-left: 8rem; }

@media only screen and (max-width: 768px) {
  .search {
    flex: 0 0 100%;
    margin: 0;
    width: 100%; } }

.search::before {
  content: "";
  position: absolute;
  background-image: url("../assets/SVG/magnifying-glass.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 27px;
  width: 8rem;
  height: 8rem; }

@media only screen and (max-width: 768px) {
  .search::before {
    left: 4rem; } }

.search__input {
  font-family: inherit;
  font-size: 22px;
  font-size: 2.2rem;
  background-color: #fff;
  border: none;
  color: inherit;
  padding: .7rem 5rem;
  width: 90%;
  transition: all .2s;
  display: flex;
  align-items: center;
  justify-content: center; }

@media only screen and (max-width: 768px) {
  .search__input {
    padding: 0 10rem; } }

.search__input:focus {
  outline: none;
  width: 100%;
  transition: all .2s; }

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc; }

.search__input:focus + .search__button {
  background-color: #f0eeee; }

.search__button {
  border: none;
  background-color: #f2f2f2;
  background-image: url("../assets/SVG/magnifying-glass.svg");
  background-repeat: no-repeat; }

.search__button:focus {
  outline: none; }

.search__button:active {
  transform: translateY(2px); }

.search__icon {
  height: 2rem;
  width: 2rem;
  fill: #999; }

.single-hotel {
  min-height: 100vh; }

.side-navigation {
  background-color: #fff;
  width: 8rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #faf9f9; }

@media only screen and (max-width: 768px) {
  .side-navigation {
    width: 100%;
    flex-direction: row;
    border: none;
    height: 8rem; } }

.side-navigation__container {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  padding: 0;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  margin-top: 40px; }

@media only screen and (max-width: 768px) {
  .side-navigation__container {
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    height: 8rem;
    margin: 0 auto; } }

.side-navigation__item {
  position: relative;
  margin: 0;
  cursor: pointer;
  width: 8rem;
  height: calc(8rem - 3px); }

@media only screen and (max-width: 768px) {
  .side-navigation__item {
    width: 100%; } }

.side-navigation__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  background-repeat: no-repeat;
  background-position: 20px center;
  transform: scaleY(1);
  width: 100%;
  border-left: 3px solid transparent;
  background-position: center; }

@media only screen and (max-width: 768px) {
  .side-navigation__item:before {
    border-left: none;
    border-bottom: 3px solid transparent; } }

.side-navigation__item:hover::before {
  border-left: 3px solid #ccc; }

@media only screen and (max-width: 768px) {
  .side-navigation__item:hover::before {
    border-left: none;
    border-bottom: 3px solid #ccc; } }

.side-navigation__item--active::before, .side-navigation__item--active:hover::before {
  border-left: 3px solid #7498FB; }

@media only screen and (max-width: 768px) {
  .side-navigation__item--active::before, .side-navigation__item--active:hover::before {
    border-left: none;
    border-bottom: 3px solid #7498FB; } }

.side-navigation__item:nth-child(1):before {
  background-image: url("../assets/SVG/home.svg"); }

.side-navigation__item:nth-child(2):before {
  background-image: url("../assets/SVG/paypal.svg"); }

.side-navigation__item:nth-child(3):before {
  background-image: url("../assets/SVG/shopping-cart.svg"); }

.side-navigation__item:nth-child(4):before {
  background-image: url("../assets/SVG/folder.svg"); }

.side-navigation__link:link, .side-navigation__link:visited {
  color: #faf9f9;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  z-index: 10;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }

.side-navigation__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor; }

.side-navigation__link span {
  margin-left: 8rem; }

@media only screen and (max-width: 1024px) {
  .side-navigation__link span {
    margin-left: 2rem; } }

.hotel-list {
  width: 100%; }

.hotel-list__container {
  margin: 10px 8rem; }

@media only screen and (max-width: 1024px) {
  .hotel-list__container {
    margin: 10px 5rem; } }

@media only screen and (max-width: 768px) {
  .hotel-list__container {
    width: calc(100% - 10rem); } }

.hotel-list__more {
  display: flex;
  justify-content: center; }

.gallery__container {
  display: flex; }

.gallery__item {
  margin: 0;
  flex-grow: 1;
  display: flex; }

.gallery__photo {
  width: 302px;
  height: 181px;
  display: block;
  object-fit: cover;
  align-items: stretch;
  flex-grow: 1; }

.overview {
  display: flex;
  align-items: center;
  margin: 10px 8rem; }

.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem; }

.overview__stars {
  margin-right: auto;
  display: flex; }

.overview__stars .fa-star {
  font-size: 16px;
  font-size: 1.6rem; }

.overview__location {
  font-size: 1.2rem;
  display: flex; }

.overview__rating {
  background-color: #333;
  margin-left: 3rem;
  color: #fff;
  padding: 0 2.25rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.overview__rating-average {
  font-size: 22.5px;
  font-size: 2.25rem;
  font-weight: 400; }

.overview__rating-count {
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 200; }

.opinion__hotel-rating {
  font-size: 24px;
  font-size: 2.4rem;
  color: #777;
  margin-right: 0.5rem; }

.opinion__hotel-reviews {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 200; }

.hotel__container {
  grid-template-columns: 40rem 1fr 20rem;
  grid-template-rows: 8rem 8rem auto;
  display: grid;
  padding: 1.5rem;
  transition: all .4s linear;
  border-radius: 5px;
  background: #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: 3rem;
  position: relative;
  box-sizing: border-box; }

@media only screen and (max-width: 1024px) {
  .hotel__container {
    grid-template-columns: 1fr 1fr 15rem; } }

@media only screen and (max-width: 768px) {
  .hotel__container {
    grid-template-columns: 1fr;
    grid-template-rows: 25rem 10rem 10rem;
    width: calc(50% - 10px);
    display: inline-grid; }
  .hotel__container:nth-child(odd) {
    margin-right: 10px; } }

@media only screen and (max-width: 525px) {
  .hotel__container {
    width: 100%; } }

.hotel__container:hover {
  box-shadow: 3px 12px 25px 1px rgba(0, 0, 0, 0.2);
  background: #f2f2f2; }

.hotel__container--list {
  grid-template-columns: 1fr 1fr 40rem;
  grid-template-rows: 8rem auto; }

@media only screen and (max-width: 1024px) {
  .hotel__container--list {
    grid-template-columns: 1fr 1fr 21rem; } }

@media only screen and (max-width: 768px) {
  .hotel__container--list {
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 1fr;
    width: 100%; } }

.hotel__container--list .hotel__details {
  display: flex;
  align-items: center;
  grid-row-end: 2; }

@media only screen and (max-width: 1024px) {
  .hotel__container--list .hotel__details {
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: flex-start; } }

@media only screen and (max-width: 768px) {
  .hotel__container--list .hotel__details {
    grid-row-end: none; } }

.hotel__container--list .hotel__image-container {
  grid-row-end: 2; }

.hotel__container--list .hotel__more-details {
  right: 0; }

.hotel__container--list .rate__color {
  margin: 0;
  margin-right: 10px; }

.hotel__container--list .hotel__description {
  grid-column-start: 2;
  grid-row-start: 2; }

@media only screen and (max-width: 768px) {
  .hotel__container--list .hotel__description {
    grid-column-start: 1;
    grid-row-start: 6;
    margin: 0; } }

.hotel__container--list .facilities {
  grid-column-start: 3; }

@media only screen and (max-width: 768px) {
  .hotel__container--list .facilities {
    margin: 1.5rem 0; } }

.hotel__container--list .hotel__price {
  margin-right: 10px;
  font-size: 25px;
  font-size: 2.5rem; }

@media only screen and (max-width: 1024px) {
  .hotel__container--list .hotel__price {
    width: 30%;
    font-size: 20px;
    font-size: 2rem; } }

.hotel__container--list .opinion__hotel-rating {
  margin-right: 10px; }

.hotel__container--list .hotel__link {
  font-size: 15px;
  font-size: 1.5rem; }

@media only screen and (max-width: 1024px) {
  .hotel__container--list .hotel__link {
    font-size: 20px;
    font-size: 2rem; } }

.hotel__container--list .hotel__address {
  font-size: 16px;
  font-size: 1.6rem; }

@media only screen and (max-width: 768px) {
  .hotel__container .facilities {
    grid-column-start: 1;
    grid-row-start: 5;
    margin: 1.5rem 0; } }

.hotel__image-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  overflow: hidden;
  cursor: pointer; }

.hotel__image-container img {
  width: 100%;
  height: 100%; }

.hotel__image-container:hover .overlay {
  left: 0; }

@media only screen and (max-width: 768px) {
  .hotel__image-container {
    grid-column-start: 1;
    grid-row-end: 1; } }

.hotel__image {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.hotel__details {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 0 1.5rem;
  border-left: 1px solid #ccc;
  position: relative; }

@media only screen and (max-width: 768px) {
  .hotel__details {
    grid-column-start: 1;
    grid-row-start: 3;
    border-left: none;
    padding: 0; } }

.hotel__address-wrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  grid-column-start: 2;
  grid-row-start: 1; }

@media only screen and (max-width: 768px) {
  .hotel__address-wrapper {
    margin-top: 2rem; } }

.hotel__address-wrapper::before {
  content: '';
  position: absolute;
  background: url("../assets/SVG/room.svg");
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain; }

.hotel__address-value {
  margin-right: 5px;
  font-size: 11px;
  font-size: 1.1rem;
  position: relative;
  margin-left: 30px; }

.hotel__address-distance span {
  font-weight: bold;
  font-size: 12px;
  font-size: 1.2rem; }

.hotel__name {
  margin-right: 1.5rem;
  grid-column-start: 2; }

@media only screen and (max-width: 768px) {
  .hotel__name {
    margin: 0;
    padding-bottom: 1rem; } }

.hotel__rate {
  min-width: 75px; }

@media only screen and (max-width: 768px) {
  .hotel__rate {
    min-width: auto; } }

.hotel__description {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 1.5rem;
  align-self: center;
  transition: all 4s; }

@media only screen and (max-width: 768px) {
  .hotel__description {
    grid-column-start: 1;
    grid-row-start: 4;
    margin: 1.5rem 0; } }

.hotel__description--text {
  font-size: 16px;
  font-size: 1.6rem;
  color: #777;
  margin: 0;
  font-weight: 200; }

.hotel__price {
  margin: 0;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 200;
  color: #777; }

.hotel__price span {
  color: #7498FB; }

.hotel__isNew {
  width: 55px;
  position: absolute;
  animation: move 0.7s ease infinite alternate-reverse; }

.hotel__more-details {
  bottom: 0;
  position: absolute; }

@media only screen and (max-width: 768px) {
  .hotel__more-details {
    right: 0; } }

.hotel__more-details .btn {
  display: flex; }

.hotel__more-details .btn svg {
  margin-left: 8px; }

.hotel__link {
  font-size: 20px;
  font-size: 2rem;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  transition: all .4s linear; }

.hotel__link:hover {
  text-decoration: underline;
  color: #7498FB; }

.hotel__address-container {
  display: flex;
  grid-column-start: 2;
  grid-row-start: 1;
  flex-direction: column;
  margin: 0 1.5rem; }

@media only screen and (max-width: 768px) {
  .hotel__address-container {
    grid-column-start: 1;
    grid-row-start: 2;
    margin: 1.5rem 0; } }

.hotel__name-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }

@media only screen and (max-width: 768px) {
  .hotel__name-wrapper {
    display: block; } }

@keyframes move {
  0% {
    opacity: 0.5;
    transform: scale(1); }
  100% {
    opacity: 1;
    transform: scale(1.3); } }

.hotel-app {
  display: flex; }

@media only screen and (max-width: 768px) {
  .hotel-app {
    flex-direction: column; } }

.credits {
  text-transform: uppercase;
  margin-bottom: 1rem; }

.credits__value {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: underline;
  color: #B0DF60;
  margin-left: 1rem; }

.payments {
  margin-bottom: 1rem; }

.viewSwitcher {
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative; }

.viewSwitcher__views {
  padding: 1rem;
  display: flex; }

.viewSwitcher__filter {
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
  transition: all .4s; }

.viewSwitcher__filter svg {
  fill: #ccc; }

.viewSwitcher__filter:hover svg {
  fill: #333; }

.viewSwitcher__filter--active svg {
  fill: #333; }

.viewSwitcher__counter {
  right: 0;
  position: absolute;
  margin-right: 2rem;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 200; }

.viewSwitcher__counter-text {
  display: flex;
  align-items: center;
  text-decoration: underline;
  color: #fff; }

.viewSwitcher__counter-number {
  font-size: 45px;
  font-size: 4.5rem;
  font-weight: 700;
  color: #333;
  margin: 0 10px;
  text-decoration: none; }

.details {
  margin: 10px 8rem; }

.details .facilities {
  margin: 4rem 0; }

.details .content__header-wrapper {
  margin: 0; }

.detail {
  display: flex;
  font-size: 1.4rem;
  background-color: #F5F8FD;
  border-bottom: 1px solid #f2f2f2;
  font-weight: 200;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.5px; }

.detail .description {
  background-color: #fff;
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: .5rem; }

.detail .list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  flex-wrap: wrap; }

.detail .list__item {
  flex: 0 0 50%;
  margin-bottom: .7rem; }

.detail .list__item::before {
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: .7rem;
  background-color: #7498FB;
  -webkit-mask-image: url(../assets/SVG/chevron-thin-right.svg);
  -webkit-mask-size: cover; }

.detail .recommend {
  font-size: 1.3rem;
  color: #999;
  display: flex;
  align-items: center; }

.detail .user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.detail .user-reviews .review {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  margin: 0;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }

.detail .user-reviews .review::before {
  content: '\201c';
  position: absolute;
  top: -2.75rem;
  left: -1rem;
  line-height: 1;
  font-size: 20rem;
  color: #f2f2f2;
  font-family: sans-serif;
  z-index: 1; }

.detail .user-reviews .review__text {
  margin: 0;
  margin-bottom: 2rem;
  z-index: 10;
  position: relative; }

.detail .user-reviews .review__user {
  display: flex;
  align-items: center; }

.detail .user-reviews .review__user-box {
  margin-right: auto; }

.detail .user-reviews .review__user-name {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .4rem; }

.detail .user-reviews .review__user-date {
  font-size: 1rem;
  color: #999; }

.detail .user-reviews .review__rating {
  color: #7498FB;
  font-size: 2.2rem;
  font-weight: 300; }

.facilities {
  grid-column-start: 2;
  margin: 1.5rem; }

.facilities__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background: #fff;
  border-radius: 5px;
  padding: 20px; }

.facilities__wrapper .facilities__icon {
  margin: 0; }

.facilities__header {
  font-size: 15px;
  font-size: 1.5rem;
  margin-bottom: 1.5rem; }

.facilities__icon {
  margin-right: 1.5rem;
  opacity: 0.6; }

.facilities__container {
  display: flex;
  margin-top: 1rem; }

.cube-folding {
  width: 50px;
  height: 50px;
  display: inline-block;
  transform: rotate(45deg);
  font-size: 0; }

.cube-folding span {
  position: relative;
  width: 25px;
  height: 25px;
  transform: scale(1.1);
  display: inline-block; }

.cube-folding span::before {
  content: '';
  background-color: #7498FB;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 25px;
  transform-origin: 100% 100%;
  animation: folding 2.50s infinite linear both; }

.cube-folding .leaf2 {
  transform: rotateZ(90deg) scale(1.1); }

.cube-folding .leaf2::before {
  animation-delay: .30s;
  background-color: #5b86fa; }

.cube-folding .leaf3 {
  transform: rotateZ(270deg) scale(1.1); }

.cube-folding .leaf3::before {
  animation-delay: .90s;
  background-color: #5b86fa; }

.cube-folding .leaf4 {
  transform: rotateZ(180deg) scale(1.1); }

.cube-folding .leaf4::before {
  animation-delay: .60s;
  background-color: #4273fa; }

@keyframes folding {
  0%, 10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

.cube-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  text-align: center; }

.cube-wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  width: 90px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  filter: blur(2px);
  border-radius: 100%;
  z-index: 1;
  animation: shadow 0.5s ease infinite alternate; }

.cube-wrapper .loading {
  font-size: 12px;
  letter-spacing: 0.1em;
  display: block;
  color: #7498FB;
  position: relative;
  top: 25px;
  z-index: 2;
  animation: text 0.5s ease infinite alternate; }

@keyframes text {
  100% {
    top: 35px; } }

@keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px; } }

.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18.5rem;
  margin-right: 15px;
  border-left: 1px solid #f2f2f2; }

@media only screen and (max-width: 768px) {
  .login__container {
    width: 100%;
    margin: 0;
    height: auto;
    border-top: 1px solid #f2f2f2;
    border-left: none;
    padding: 8px 0; } }

.login__profile {
  margin-right: 2rem;
  display: flex;
  position: relative;
  align-items: center;
  height: 4rem;
  min-width: 18.5rem;
  justify-content: flex-end;
  font-size: 16px;
  font-size: 1.6rem; }

.login__profile::before {
  content: "";
  position: absolute;
  background-image: url("./../assets/SVG/user.svg");
  width: 30px;
  height: 30px;
  background-color: #E7E7E7;
  border-radius: 50%;
  border: 1px solid #CECECE;
  left: 15px; }

.login__profile--name {
  font-weight: 200;
  margin: 0 .3rem; }

.rating {
  display: flex;
  height: 100%; }

.legal {
  background-color: #333; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-ellipsis__item {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #7498FB;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis__item:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis__item:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis__item:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis__item:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }

.hotel-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F8FD;
  width: 100%; }

.hotel-form__form {
  margin: 0 8rem; }

@media only screen and (max-width: 1024px) {
  .hotel-form__form {
    margin: 0 5rem; } }

.hotel-form__form .dropzone__files-wrapper {
  background: #fff;
  border-radius: 5px;
  margin-top: 0; }

.hotel-form__form .content__header-wrapper {
  margin: 0; }

.hotel-form__review, .hotel-form__container {
  height: 525px;
  border-radius: 5px;
  box-sizing: border-box; }

.hotel-form__container {
  background: #F5F8FD;
  width: 100%;
  height: 100%;
  min-height: 100vh; }

.hotel-form__header {
  color: #333;
  font-size: 24px;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 40px 0; }

.hotel-form__values {
  display: flex;
  flex-direction: column;
  margin: 0 0 13px 0; }

.hotel-form__values label {
  color: #333;
  margin-bottom: 8px;
  font-size: 14px;
  font-size: 1.4rem; }

.hotel-form__value {
  font-size: 19px;
  font-size: 1.9rem;
  color: #777;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  width: 33.3334%;
  margin-bottom: 20px; }

.hotel-form__valuesBox {
  display: flex;
  position: relative;
  width: 75%;
  box-sizing: border-box; }

.hotel-form__valueBox {
  width: 25%;
  margin-right: 25px; }

.hotel-form__close {
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: white;
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }

.hotel-form__formValuesBox {
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0; }

@media only screen and (max-width: 768px) {
  .hotel-form__formValuesBox {
    flex-wrap: wrap; } }

.hotel-form__formValueBox {
  width: 33.3333%;
  margin-right: 3rem;
  background: #fff;
  padding: 20px;
  border-radius: 5px; }

@media only screen and (max-width: 768px) {
  .hotel-form__formValueBox {
    width: calc(50% - 1.5rem);
    margin: 0;
    box-sizing: border-box; } }

@media only screen and (max-width: 525px) {
  .hotel-form__formValueBox {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .hotel-form__formValueBox:first-child {
    margin-right: 3rem; } }

@media only screen and (max-width: 525px) {
  .hotel-form__formValueBox:first-child {
    margin-right: 0;
    margin-bottom: 3rem; } }

.hotel-form__formValueBox:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 0; }

@media only screen and (max-width: 768px) {
  .hotel-form__formValueBox:last-child {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3rem; } }

.hotel-form__formValueBox div:last-child input {
  margin-bottom: 0; }

.hotel-form__buttons {
  display: flex;
  justify-content: space-between; }

.hotel-form__toggleInput {
  display: flex;
  align-items: center;
  margin: 10px 0; }

.hotel-form__toggleInput label {
  margin-top: 0;
  position: relative;
  width: 100px; }

@media only screen and (max-width: 1024px) {
  .hotel-form__toggleInput label {
    width: 85px; } }

.hotel-form__dropzone {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0 8rem 0; }

.success__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; }

.success__subheader {
  color: #777;
  font-size: 12px;
  font-size: 1.2rem; }

.success__icon {
  height: 6.25rem; }

.forbidden__container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px; }

.forbidden__text {
  font-size: 35px;
  font-size: 3.5rem; }

.weather {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #fff;
  width: 30%;
  border-radius: 5px;
  margin-left: calc(70% - 8rem); }

.weather__currently {
  margin-right: 2rem;
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: 200; }

.weather__temperature {
  display: flex;
  font-size: 24px;
  font-size: 2.4rem;
  align-items: center; }

.weather__celcius {
  font-weight: 400;
  font-size: 54px;
  font-size: 5.4rem;
  margin: 0 2rem 0 0; }

.icon {
  color: #161616;
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 10rem; }

.icon {
  position: relative;
  display: inline-block;
  width: 12em;
  height: 10em;
  font-size: 1em;
  /* control icon size here */ }

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: -1.25em;
  background: yellow;
  border-radius: 50%;
  box-shadow: 0 0 0 0.375em yellow;
  animation: spin 12s infinite linear; }

.rays {
  position: absolute;
  top: -2em;
  left: 50%;
  display: block;
  width: 0.375em;
  height: 1.125em;
  margin-left: -0.1875em;
  background: yellow;
  border-radius: 0.25em;
  box-shadow: 0 5.375em yellow; }

.rays:before,
.rays:after {
  content: '';
  position: absolute;
  top: 0em;
  left: 0em;
  display: block;
  width: 0.375em;
  height: 1.125em;
  transform: rotate(60deg);
  transform-origin: 50% 3.25em;
  background: yellow;
  border-radius: 0.25em;
  box-shadow: 0 5.375em yellow; }

.rays:before {
  transform: rotate(120deg); }

.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875em;
  height: 3.6875em;
  margin: -1.84375em;
  background: currentColor;
  border-radius: 50%;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff; }

.cloud:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5em;
  display: block;
  width: 4.5625em;
  height: 1em;
  background: currentColor;
  box-shadow: 0 0.4375em 0 -0.0625em #fff; }

.cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  box-shadow: -2.1875em 0.6875em 0 -0.6875em #fff, 2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
  opacity: 0.3;
  transform: scale(0.5) translate(6em, -3em);
  animation: cloud 4s linear infinite; }

.cloud:nth-child(2):after {
  background: #fff; }

.cloud + .sun {
  margin: -2em 1em; }

.rain,
.lightning,
.snow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 3.75em;
  height: 3.75em;
  margin: 0.375em 0 0 -2em;
  background: transparent; }

.rain:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 1.125em;
  height: 1.125em;
  margin: -1em 0 0 -0.25em;
  background: #0cf;
  border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
  box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
  transform: rotate(-28deg);
  animation: rain 3s linear infinite; }

.bolt {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25em 0 0 -0.125em;
  color: #fff;
  opacity: 0.3;
  animation: lightning 2s linear infinite; }

.bolt:nth-child(2) {
  width: 0.5em;
  height: 0.25em;
  margin: -1.75em 0 0 -1.875em;
  transform: translate(2.5em, 2.25em);
  opacity: 0.2;
  animation: lightning 1.5s linear infinite; }

.bolt:before,
.bolt:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -1.625em 0 0 -1.0125em;
  border-top: 1.25em solid transparent;
  border-right: 0.75em solid;
  border-bottom: 0.75em solid;
  border-left: 0.5em solid transparent;
  transform: skewX(-10deg); }

.bolt:after {
  margin: -0.25em 0 0 -0.25em;
  border-top: 0.75em solid;
  border-right: 0.5em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-left: 0.75em solid;
  transform: skewX(-10deg); }

.bolt:nth-child(2):before {
  margin: -0.75em 0 0 -0.5em;
  border-top: 0.625em solid transparent;
  border-right: 0.375em solid;
  border-bottom: 0.375em solid;
  border-left: 0.25em solid transparent; }

.bolt:nth-child(2):after {
  margin: -0.125em 0 0 -0.125em;
  border-top: 0.375em solid;
  border-right: 0.25em solid transparent;
  border-bottom: 0.625em solid transparent;
  border-left: 0.375em solid; }

.flake:before,
.flake:after {
  content: '\2744';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.025em 0 0 -1.0125em;
  color: #2d2d2d;
  list-height: 1em;
  opacity: 1;
  animation: spin 8s linear infinite reverse; }

.flake:after {
  margin: 0.125em 0 0 -1em;
  font-size: 1.5em;
  opacity: 0.4;
  animation: spin 14s linear infinite; }

.flake:nth-child(2):before {
  margin: -0.5em 0 0 0.25em;
  font-size: 1.25em;
  opacity: 1;
  animation: spin 10s linear infinite; }

.flake:nth-child(2):after {
  margin: 0.375em 0 0 0.125em;
  font-size: 2em;
  opacity: 0.4;
  animation: spin 16s linear infinite reverse; }

/* Animations */
@keyframes spin {
  100% {
    transform: rotate(360deg); } }

@keyframes cloud {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em); } }

@keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf; }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2); }
  50% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2); }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf; } }

@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2; }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1; }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2; } }

.SignupForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.SignupForm h1 {
  margin: 0 auto 20px; }

.SignupForm__formGroup {
  display: flex;
  margin-bottom: 20px;
  align-items: center; }

.SignupForm__label {
  font-size: 16px;
  font-size: 1.6rem;
  width: 70px; }

.SignupForm__input {
  padding: 0 15px;
  height: 3rem;
  width: 20rem;
  font-size: 14px;
  font-size: 1.4rem; }

.GoogleBtn__container {
  border-top: 1px solid #ccc;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center; }

.GoogleBtn__container span {
  position: absolute;
  top: -10px;
  left: 48%;
  font-size: 15px;
  background: white;
  padding: 0 7px; }

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.LoginForm h1 {
  margin: 0 auto 20px; }

.LoginForm__formGroup {
  display: flex;
  margin-bottom: 20px;
  align-items: center; }

.LoginForm__label {
  font-size: 16px;
  font-size: 1.6rem;
  width: 70px; }

.LoginForm__input {
  padding: 0 15px;
  height: 3rem;
  width: 20rem;
  font-size: 14px;
  font-size: 1.4rem; }

/* DEFAULT COLOR VARIABLES */
/* DEFAULT SIZING VARIABLES */
/* DEFAULT CLASS VARIABLE */
.switch.switch--default > .switch-toggle {
  height: 32px;
  width: 52px;
  cursor: pointer;
  user-select: none;
  position: relative;
  display: inline-block; }

.switch.switch--default > .switch-toggle.switch-toggle--on::before, .switch.switch--default > .switch-toggle.switch-toggle--on::after, .switch.switch--default > .switch-toggle.switch-toggle--off::before, .switch.switch--default > .switch-toggle.switch-toggle--off::after {
  content: '';
  left: 0;
  position: absolute !important; }

.switch.switch--default > .switch-toggle.switch-toggle--on::before, .switch.switch--default > .switch-toggle.switch-toggle--off::before {
  height: inherit;
  width: inherit;
  border-radius: 16px;
  will-change: background;
  transition: background .4s .3s ease-out; }

.switch.switch--default > .switch-toggle.switch-toggle--on::after, .switch.switch--default > .switch-toggle.switch-toggle--off::after {
  top: 2px;
  height: 28px;
  width: 28px;
  border-radius: 14px;
  background: #ffffff !important;
  will-change: transform;
  transition: transform .4s ease-out; }

.switch.switch--default > .switch-toggle.switch-toggle--on::before {
  background: #58E0C2 !important; }

.switch.switch--default > .switch-toggle.switch-toggle--on::after {
  transform: translateX(22px); }

.switch.switch--default > .switch-toggle.switch-toggle--off::before {
  background: #cccccc !important; }

.switch.switch--default > .switch-toggle.switch-toggle--off::after {
  transform: translateX(2px); }

.hotel-review__buttonWrapper {
  display: flex; }

.hotel-review__wrapper {
  display: flex; }

.hotel-review__values {
  margin: 0 8rem;
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
  width: 75%; }

.hotel-review__send {
  background-color: #B0DF60;
  width: 25%;
  position: relative;
  right: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #C9E995;
  text-transform: uppercase;
  transition: all .4s ease-in; }

.hotel-review__send:hover {
  background-color: #7fb524; }

.hotel-review__sendIcon {
  width: 55px;
  margin-bottom: 15px; }

.hotel-review__label {
  color: #7498FB;
  margin-bottom: 8px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold; }

.hotel-review__value {
  text-overflow: ellipsis;
  width: 100px;
  overflow: hidden; }

.hotel-review__values {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row; }

.hotel-review__values .hotel-form__value {
  text-transform: capitalize; }

.dropzone__container {
  height: 200px;
  border-width: 2px;
  border-radius: 5px;
  border-color: #666666;
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }

.dropzone__files-title {
  color: #777;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 400;
  margin: 0; }

.dropzone__files-wrapper {
  margin: 20px 0; }

.dropzone__file {
  font-size: 12px;
  font-size: 1.2rem; }

.dropzone__text {
  font-size: 16px;
  font-size: 1.6rem; }

.dropzone__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 30px;
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center; }

.dropzone__overlay--rejected {
  border: 3px dashed #dc173f; }

.gallery-modal__wrapper {
  max-height: 50vh;
  position: relative; }

.gallery-modal__image {
  width: 100%;
  height: 50vh; }

.modal-next,
.modal-prev {
  position: absolute;
  display: inline;
  color: black;
  text-decoration: none;
  line-height: 36px;
  font-size: 30px;
  font-weight: lighter;
  background: #fff;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  text-align: center; }

.modal-body .modal-close {
  right: 0;
  top: 0;
  border-radius: 0 0 0 5px; }

.modal-next,
.modal-prev {
  top: calc(50% - 25px);
  border-radius: 5px 0 0 5px;
  height: 50px;
  line-height: 40px;
  font-size: 60px; }

.modal-prev {
  left: 0; }

.modal-next {
  right: 0; }

.modal-body {
  position: relative; }

.noMatch {
  background: #F5F8FD;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.noMatch__header {
  font-size: 100px; }

.noMatch__subHeader {
  font-size: 35px;
  margin-top: 0; }

.underConstruction {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto; }

.underConstruction__header {
  margin: 0 auto;
  font-size: 40px;
  font-size: 4rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 20px;
  background: #F5A622;
  color: #000;
  border: 3px dashed #000;
  transform: rotate(-10deg);
  margin-bottom: 20px;
  text-align: center;
  padding: 15px; }

.underConstruction__subHeader {
  margin: 0 auto;
  font-size: 25px;
  font-size: 2.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-10deg) translateX(20px);
  border-top: 1px solid black;
  padding: 20px;
  color: #000;
  margin-bottom: 50px; }

/* ------------- */
/*		PAGES    */
/* ------------- */
/* ------------- */
/*		THEMES    */
/* ------------- */
/* ------------- */
/*		VENDORS    */
/* ------------- */
