.hotel-form {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $color-dash-background;
	width: 100%;

	&__review,
	&__container {
		height: 525px;
		border-radius: 5px;
		box-sizing: border-box;
	}

	&__container {
		height: 100%;
		padding: 20px 40px;
		position: relative;
	}

	&__header {
		color: $color-grey-dark-1;
		@include font-size(2.4);
		text-align: center;
		font-weight: 400;
		margin: 0;
		padding: 40px 0;
	}

	&__values {
		display: flex;
		flex-direction: column;
		margin: 0 0 13px 0;

		label {
			color: $color-grey-dark-1;
			margin-bottom: 8px;
			@include font-size(1.4);
		}
	}

	&__value {
		@include font-size(1.9);
		color: $color-grey-dark-2;
		font-weight: 200;
		display: flex;
		flex-direction: column;
		width: 33.3334%;
		margin-bottom: 20px;
	}

	&__valuesBox {
		display: flex;
		position: relative;
		width: 75%;
		box-sizing: border-box;
	}

	&__valueBox {
		width: 25%;
		margin-right: 25px;
	}

	&__close {
		border-radius: 50%;
		position: absolute;
		right: 0;
		top: 0;
		margin: 20px;
		background: rgba(0, 0, 0, .2);
		text-decoration: none;
		color: white;
		font-size: 14px;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
	}

	&__send {
		background-color: $rate-very-good;
		width: 25%;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		color: $color-send;
		text-transform: uppercase;
		transition: all .4s ease-in;

		&:hover {
			background-color: darken($rate-very-good, 20%);
		}
	}

	&__sendIcon {
		width: 55px;
		margin-bottom: 15px;
	}

	&__formValuesBox {
		display: flex;
		position: relative;
		width: 100%;
		box-sizing: border-box;
	}

	&__formValueBox {
		width: 33.3333%;
		margin-right: 70px;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
	}

	&__toggleInput {
		display: flex;
		align-items: center;
		margin: 10px 0;

			label {
				margin-top: 0;
				position: relative;
				width: 100px;
			}
	}

	&__reviewLabel {
		color: $color-primary;
		margin-bottom: 8px;
		@include font-size(1.4);
		font-weight: bold;
	}

	&__reviewValue {
		text-overflow: ellipsis;
		width: 100px;
		overflow: hidden;
	}

	&__reviewValues {
		flex-wrap: wrap;
		width: 100%;
		display: flex;
		flex-direction: row;
	}
}
