.hotel-review {
	&__buttonWrapper {
		display: flex;
	}

	&__wrapper {
		display: flex;
	}

	&__values {
		margin: 0 8rem;
		background: $color-white;
		border-radius: 5px;
		box-sizing: border-box;
		padding: 20px;
		width: 75%;
	}

	&__send {
		background-color: $rate-very-good;
		width: 25%;
		position: relative;
		right: 0;
		top: 0;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		color: $color-send;
		text-transform: uppercase;
		transition: all .4s ease-in;

		&:hover {
			background-color: darken($rate-very-good, 20%);
		}
	}

	&__sendIcon {
		width: 55px;
		margin-bottom: 15px;
	}

	&__label {
		color: $material-color-blue;
		margin-bottom: 8px;
		@include font-size(1.4);
		font-weight: bold;
	}

	&__value {
		text-overflow: ellipsis;
		width: 100px;
		overflow: hidden;
	}

	&__values {
		flex-wrap: wrap;
		width: 100%;
		display: flex;
		flex-direction: row;

		.hotel-form__value {
			text-transform: capitalize;
		}
	}
}