.auth {
	&__header {
		@include font-size(2);
		text-transform: uppercase;
		@include font-weight(200);
		text-align: center;
	}

	&__signup {
		display: block;
		@include font-size(1.4);
		margin: 17px 0;
		text-align: center;
	}
}

.dropdown {
	&__menu {
		height: 100%;
		padding: 0;
	}

	&__input {
		display: none;

		&:checked ~ ul.dropdown__submenu {
			max-height: 300px;
			transition: max-height 0.5s ease-in;
		}
	}

	&__menu-item {
		list-style-type: none;
	}

	&__submenu {
		max-height: 0;
		padding: 0;
		overflow: hidden;
		list-style-type: none;
		border: 1px solid $color-grey-light-2;
		transition: max-height 0.5s ease-out;
		position: absolute;
		min-width: 200px;
		top: 100%;
		z-index: 1;
		right: 0;
	}

	&__submenu-item {
		display: block;
		padding: 12px;
		color: #ddd;
		text-decoration: none;
		background: $color-white;
		transition: background .3s;
		white-space: nowrap;
	}

	&__label {
		display: flex;
		padding: 0;
		margin: 0;
		position: relative;
		line-height: 3em;
		transition: background 0.3s;
		cursor: pointer;
	}
}