.box {
	width: 175px;
	height: 175px;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all .4s linear;
	border-radius: 5px;

	&:hover {
		box-shadow: 3px 12px 25px 1px rgba(0, 0, 0, 0.2);
	}

	&__container {
		display: flex;
		margin: 10px 8rem;
		justify-content: space-between;
	}

	&__icon {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		&::before {
			content: '';
			position: absolute;
			width: 18px;
			height: 18px;
			background-repeat: no-repeat;
			background-size: contain;
		}

		&--1 {
			background: $material-color-green;

			&::before {
				background-image: url('../assets/SVG/office.svg');
			}
		}

		&--2 {
			background: $material-color-blue;

			&::before {
				background-image: url('../assets/SVG/star-full.svg');
			}
		}

		&--3 {
			background: $material-color-yellow;

			&::before {
				background-image: url('../assets/SVG/bubbles2.svg');
			}
		}

		&--4 {
			background: $material-color-pink;

			&::before {
				background-image: url('../assets/SVG/pie-chart.svg');
			}
		}
	}

	&__text {
		width: 60%;
		display: flex;
		flex-direction: column;
		padding: 10px;
		box-sizing: border-box;
		text-align: center;

		&--title {
			@include font-size(1.6);
			@include font-weight(200);
			animation: animeSlideBottom;
			animation-duration: 0.6s;
		}

		&--value {
			@include font-size(4.6);
			@include font-weight(800);
			margin-bottom: 10px;
			color: $color-grey-dark-1;
			animation: animeSlideTop;
			animation-duration: 0.6s;
		}
	}
}
