.box {
  transition: all 0.4s linear;
  border-radius: 5px;
  display: block;
  width: calc(25% - 10px);
  height: 100%;
  position: relative;

  @include themify($themes) {
    background: themed('box-background');
  }

  @include media-queries(XL) {
    width: calc(25% - 3rem);
    max-width: 235px;
  }

  @include media-queries(L) {
    width: calc(25% - 10px);
    max-width: 175px;
  }

  @include media-queries(M) {
    width: calc(50% - 10px);
    max-width: 200px;

    &:nth-child(odd) {
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }

  &:hover {
    box-shadow: 3px 12px 25px 1px rgba(0, 0, 0, 0.2);
  }

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &__container {
    display: flex;
    margin: 10px 8rem;
    justify-content: space-between;

    @include media-queries(L) {
      margin: 10px 5rem;
    }

    @include media-queries(M) {
      flex-wrap: wrap;
      width: 80%;
      margin: 10px auto;
      justify-content: center;
    }
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
  }

  &__icon {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      width: 3rem;
      height: 3rem;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--1 {
      background: $material-color-green;

      &::before {
        background-image: url('../assets/SVG/office.svg');
      }
    }

    &--2 {
      background: $material-color-blue;

      &::before {
        background-image: url('../assets/SVG/star-full.svg');
      }
    }

    &--3 {
      background: $material-color-yellow;

      &::before {
        background-image: url('../assets/SVG/bubbles2.svg');
      }
    }

    &--4 {
      background: $material-color-pink;

      &::before {
        background-image: url('../assets/SVG/pie-chart.svg');
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;

    &--primary {
      @include font-size(4.6);
      @include font-weight(800);
      margin-bottom: 10px;
      animation: animeSlideTop;
      animation-duration: 0.6s;

      @include themify($themes) {
        color: themed('box-primary-text');
      }
    }

    &--secondary {
      @include font-size(1.6);
      @include font-weight(200);
      animation: animeSlideBottom;
      animation-duration: 0.6s;

      @include themify($themes) {
        color: themed('box-secondary-text');
      }
    }
  }
}
