.btn {
	background: $color-more;
	border: none;
	color: $color-white;
	padding: 1em 3rem;
	transition: background .4s ease;
	text-transform: uppercase;
	outline: none;

	&:hover {
		background: darken($color-more, 7%);
	}

	&--login {
		display: flex;
		align-items: center;
		background: $rate-very-good;
		margin-right: 2rem;
		@include font-family($oswald);
		@include font-weight(700);
		letter-spacing: 1px;
		text-decoration: none;
		padding: 1rem 1.5rem;
		border-radius: 2px;

		&:hover {
			background: darken($rate-very-good, 7%);
		}

		svg {
			fill: $color-white;
			margin-left: 10px;
		}
	}

	&--logout {
		display: flex;
		align-items: center;
		background: $color-primary-dark;
		margin-right: 2rem;
		@include font-family($oswald);
		@include font-weight(700);
		letter-spacing: 1px;
		text-decoration: none;
		padding: 1rem 1.5rem;
		border-radius: 2px;

		&:hover {
			background: lighten($color-primary-dark, 5%);
		}

		svg {
			fill: $color-white;
			margin-left: 10px;
		}
	}

	&--underline {
		background: transparent;
		color: $color-primary-dark;
		text-decoration: underline;
		padding: 10px 0;
		font-size: 12px;

		&:hover {
			color: $color-white;
			background: $color-primary-dark;
		}
	}

	&--no-underline {
		background: transparent;
		border: 1px solid $color-primary-dark;
		color: $color-primary-dark;
		background-image: none;

		&:hover {
			background-image: none;
			color: $color-white;
			background: $color-primary-dark;
		}
	}

	&--more {
		border: 1px solid $color-primary-dark;
		background: $color-white;
		color: $color-primary-dark;
		background-image: url("../assets/chevron-small-down.svg");
		background-repeat: no-repeat;
		background-position: 90% 45%;

		&:hover {
			color: $color-white;
		}
	}

	&--less {
		@extend .btn;
		border: 1px solid $color-primary-dark;
		background-image: url("../assets/chevron-small-up.svg");
		background-repeat: no-repeat;
		background-position: 90% 45%;

		&:hover {
			@extend .btn--less;
		}
	}

	&--inline {
		border: none;
		color: $color-primary;
		font-size: inherit;
		border-bottom: 1px solid currentColor;
		padding: 0;
		padding-bottom: 2px;
		display: inline-block;
		background-color: transparent;
		cursor: pointer;
		transition: all .2s;

		&:hover {
			color: $color-grey-dark-1;
			background: transparent;
		}
	}

	&--payment {
		background: $color-primary;
		@include font-family($oswald);
		border-radius: 2px;
		padding: 1rem 1.5rem;
		margin: 0 2rem;
	}

	&--close {
		background-color: $color-grey-light-4;
		color: $color-white;
		@include font-family($oswald);
		@include font-size(1.5);
		border-radius: 30px;
		transition: all .4s;
		width: 95px;
		text-decoration: none;

		&:hover {
			background-color: $color-grey-dark-2;
		}
	}

	&--cancel {
		background-color: #ED5E68;
		color: $color-white;
		border-radius: 4px;
		@include font-size(1.7);
		text-decoration: none;
		text-transform: none;
		font-weight: 400;
		@include font-family($oswald);
		padding: 10px 45px;
	}

	&--next {
		background-color: #8388A4;
		color: #363B59;
		border-radius: 4px;
		@include font-size(1.7);
		text-decoration: none;
		text-transform: none;
		font-weight: 400;
		@include font-family($oswald);
		padding: 10px 45px;

		&:hover {
			background-color: #363B59;
			color: $color-white;
		}
	}
}