.btn {
	background: $color-more;
	border: none;
	color: $color-white;
	padding: 1em 3rem;
	transition: background .4s ease;
	text-transform: uppercase;
	outline: none;

	&:hover {
		background: darken($color-more, 7%);
		background-image: url("../assets/chevron-small-down-1.svg");
		background-repeat: no-repeat;
		background-position: 90% 45%;
	}

	&--login {
		margin-right: 2rem;
	}

	&--underline {
		background: transparent;
		color: $color-primary-dark;
		text-decoration: underline;
		padding: 10px 0;
		font-size: 12px;

		&:hover {
			color: $color-white;
			background: $color-primary-dark;
		}
	}

	&--no-underline {
		background: transparent;
		border: 1px solid darken($color-more, 7%);
		color: $color-primary-dark;
		background-image: none;

		&:hover {
			background-image: none;
			color: $color-white;
			background: $color-primary-dark;
		}
	}

	&--more {
		border: 1px solid darken($color-more, 7%);
		background: $color-white;
		color: $color-primary-dark;
		background-image: url("../assets/chevron-small-down.svg");
		background-repeat: no-repeat;
		background-position: 90% 45%;

		&:hover {
			color: $color-white;
		}
	}

	&--less {
		@extend .btn;
		border: 1px solid darken($color-more, 7%);
		background-image: url("../assets/chevron-small-up.svg");
		background-repeat: no-repeat;
		background-position: 90% 45%;

		&:hover {
			@extend .btn--less;
		}
	}

	&--inline {
		border: none;
		color: $color-primary;
		font-size: inherit;
		border-bottom: 1px solid currentColor;
		padding: 0;
		padding-bottom: 2px;
		display: inline-block;
		background-color: transparent;
		cursor: pointer;
		transition: all .2s;

		&:hover {
			color: $color-grey-dark-1;
			background: transparent;
		}
	}
}