.detail {
	display: flex;
	font-size: 1.4rem;
	padding: 4.5rem;
	background-color: $color-grey-light-1;
	border-bottom: 1px solid $color-grey-light-2;
	font-weight: 200;
	@include font-size(1.6);
	letter-spacing: 0.5px;

	.description {
		background-color: $color-white;
		box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);;
		padding: 3rem;
		flex: 0 0 60%;
		margin-right: .5rem;
	}

	.list {
		list-style: none;
		margin: 3rem 0;
		padding: 3rem 0;
		border-top: 1px solid $color-grey-light-2;
		border-bottom: 1px solid $color-grey-light-2;
		display: flex;
		flex-wrap: wrap;

		&__item {
			flex: 0 0 50%;
			margin-bottom: .7rem;

			&::before {
				content: '';
				display: inline-block;
				height: 1rem;
				width: 1rem;
				margin-right: .7rem;
				background-color: $color-primary;
				-webkit-mask-image: url(../assets/SVG/chevron-thin-right.svg);
				-webkit-mask-size: cover;
			}
		}
	}

	.recommend {
		font-size: 1.3rem;
		color: $color-grey-dark-3;
		display: flex;
		align-items: center;
	}

	.user-reviews {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;

		.review {
			background-color: $color-white;
			box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
			padding: 3rem;
			margin: 0;
			margin-bottom: 3.5rem;
			position: relative;
			overflow: hidden;

			&::before {
				content: '\201c';
				position: absolute;
				top: -2.75rem;
				left: -1rem;
				line-height: 1;
				font-size: 20rem;
				color: $color-grey-light-2;
				font-family: sans-serif;
				z-index: 1;
			}

			&__text {
				margin: 0;
				margin-bottom: 2rem;
				z-index: 10;
				position: relative;
			}

			&__user {
				display: flex;
				align-items: center;
			}

			&__user-box {
				margin-right: auto;
			}

			&__user-name {
				font-size: 1.1rem;
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: .4rem;
			}

			&__user-date {
				font-size: 1rem;
				color: $color-grey-dark-3;
			}

			&__rating {
				color: $color-primary;
				font-size: 2.2rem;
				font-weight: 300;
			}
		}
	}
}