.filters {
	border-bottom: $line;
	display: flex;
	justify-content: center;
	align-items: center;

	&__views {
		padding: 1rem;
		display: flex;
		margin-right: 1rem;
		//margin-left: 2rem;
	}

	&__filter {
		display: inline-block;
		margin-right: 1rem;
		cursor: pointer;
		transition: all .4s;

		svg {
			fill: $color-grey-dark-3;
		}

		&:hover {
			svg {
				fill: $color-grey-dark-1;
			}
		}

		&--active {
			svg {
				fill: $color-grey-dark-1;
			}
		}
	}
}