@import '../layout/breakpoints';

.header {
	font-size: 1.4rem;
	height: 7rem;
	background-color: $color-white;
	border-bottom: $line;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	@include media-queries(L) {
		flex-direction: column;
		height: 100%;
		position: relative;
	}

	@media only screen and (max-width: $bp-smallest) {
		flex-wrap: wrap;
		height: 11rem;
		align-content: space-around;
	}

	&__back {
		background-color: transparent;
		background-image: url('../assets/chevron-left.svg');
		background-repeat: no-repeat;
		background-position: center left;
		border: 1px solid $color-primary;
		text-transform: uppercase;
		text-decoration: none;
		color: $color-primary;
		padding: .7rem 2rem;
		border-radius: 100px;
		margin-right: 2rem;
		transition: all .2s;

		&:hover {
			background-color: $color-primary;
			color: $color-white;
		}
	}
}