@import '../layout/breakpoints';

.header {
	font-size: 1.4rem;
	height: $base-height-space;
	background-color: $color-white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	&__back {
		background-color: transparent;
		background-image: url('../assets/SVG/chevron-left.svg');
		background-repeat: no-repeat;
		background-position: center left;
		border: 1px solid $material-color-blue;
		text-transform: uppercase;
		text-decoration: none;
		color: $material-color-blue;
		padding: .7rem 2rem;
		border-radius: 100px;
		margin-right: 2rem;
		transition: all .2s;

		&:hover {
			background-color: $material-color-blue;
			color: $color-white;
		}
	}
}