.hotel__opinion {
  display: flex;
  align-items: center;
  margin: 2rem 0;

  @include media-queries(M) {
    margin: 0;
  }

  &--rating {
    @include font-size(2);
    @include font-weight(400);
    margin-right: 2rem;

    @include themify($themes) {
      color: themed('box-primary-text');
    }
  }

  &--reviews {
    @include font-size(1.8);
    @include font-weight(200);

    @include themify($themes) {
      color: themed('box-primary-text');
    }
  }
}
