.hotel {
	&__container {
		grid-template-columns: 40rem 1fr 20rem;
		grid-template-rows: 8rem 8rem auto;
		display: grid;
		padding: 1.5rem;

		background: $color-grey-light-1;
		border-bottom: 1px solid $color-grey-light-5;
		box-shadow: 2px 2px 19px -1px rgba(0, 0, 0, 0.20);
		margin-bottom: 3rem;
		position: relative;

		&:hover {
			background: $color-grey-light-2;
		}
	}

	&__image-container {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		position: relative;
		overflow: hidden;
		cursor: pointer;

		&:hover {
			.overlay {
				left: 0;
			}
		}
	}

	&__image {
		cursor: pointer;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__details-box {
		grid-column-start: 3;
		grid-row-start: 1;
		grid-row-end: 4;
		padding: 0 1.5rem;
		border-left: 1px solid $color-grey-light-4;
		position: relative;
	}

	&__details {

		&--name {
			margin-left: 1.5rem;
			margin-right: 1.5rem;
			grid-column-start: 2;
		}

		&--description {
			grid-column-start: 2;
			grid-row-start: 2;
			margin: 1.5rem;
			align-self: center;

			transition: all 4s;
		}

		&--distance {
			span {
				font-weight: bold;
				@include font-size(1.2);
			}
		}

		&--text {
			@include font-size(1.6);
			color: $color-grey-dark-2;
			margin: 0;
			@include font-weight(200);
		}

		&--isNew {
			width: 55px;
			position: absolute;
			animation: move 0.7s ease infinite alternate-reverse;
		}

		&--adressBox {
			display: flex;
			align-items: center;
			margin-top: 1rem;
			grid-column-start: 2;
			grid-row-start: 1;
			margin-left: 1.5rem;

			&::before {
				content: '';
				position: absolute;
				background: url("../assets/room.svg");
				display: block;
				width: 20px;
				height: 20px;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}

		&--adress {
			margin-right: 5px;
			@include font-size(1.1);
			position: relative;
			margin-left: 30px;
		}

		&--more {
			bottom: 0;
			position: absolute;

			.btn {
				display: flex;

				svg {
					margin-left: 8px;
				}
			}
		}

		&--priceValue {
			margin: 0;
			@include font-size(2);
			font-weight: 200;
			color: $color-grey-dark-2;

			span {
				color: $color-primary-dark;
			}
		}
	}

	&__link {
		@include font-size(2);
		text-decoration: none;
		color: $color-primary-dark;
		font-weight: 400;

		&:hover {
			text-decoration: underline;
		}
	}

	&__name-container {
		display: flex;
		grid-column-start: 2;
		grid-row-start: 1;
		align-items: center;
		justify-content: flex-start;
		top: 0;
		position: absolute;
	}
}

// LIST VIEW STYLES
.hotel__container--list {
	grid-template-columns: 15rem 1fr 52rem;
	grid-template-rows: 8rem auto;

	.hotel__details-box {
		display: flex;
		align-items: center;
		grid-row-end: 2;
	}

	.hotel__image-container {
		grid-row-end: 2;
	}

	.hotel__details--more {
		right: 0;
	}

	.rate__color {
		margin: 0;
		margin-right: 10px;
	}

	.hotel__details--description {
		grid-column-start: 2;
		grid-row-start: 2;
	}

	.facilities {
		grid-column-start: 3;
	}

	.hotel__details--price {
		margin-right: 10px;
	}

	.opinion__hotel-rating {
		margin-right: 10px;
	}

	.hotel__link {
		@include font-size(2.5);
	}

	.hotel__details--adress {
		@include font-size(1.6);
	}

	.hotel__details--adressBox {
		margin-top: 3rem;
	}

	.hotel__details--priceValue {
		@include font-size(3);
	}
}

@keyframes move {
	0% {
		opacity: 0.5;
		transform: scale(1);
	}
	100% {
		opacity: 1;
		transform: scale(1.3);
	}
}