.overview {
	display: flex;
	align-items: center;
	border-bottom: 1px solid $color-grey-light-2;

	&__heading {
		font-size: 2.25rem;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 1.5rem 3rem;
	}

	&__stars {
		margin-right: auto;
		display: flex;

		.fa-star {
			@include font-size(1.6);
		}
	}

	&__location {
		font-size: 1.2rem;
		display: flex;

		.btn--inline {
			position: relative;;
			
			&::before {
				content: '';
				position: absolute;
				background: url("../assets/room.svg");
				display: block;
				width: 20px;
				height: 20px;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}
}