.hotel__opinion {
  display: flex;
  align-items: center;
  margin: 2rem 0;

  @include media-queries(M) {
    margin: 0;
  }

  &--rating {
    color: $color-grey-dark-2;
    @include font-size(2);
    @include font-weight(400);
    margin-right: 2rem;
  }

  &--reviews {
    @include font-size(1.8);
    @include font-weight(200);
  }
}
