.social__container {
	position: relative;
	display: flex;
	justify-content: center;

	span {
		position: absolute;
		top: -10px;
		left: 48%;
		font-size: 15px;
		background: $color-white;
		padding: 0 7px;
	}
}