.login {
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 18.5rem;
		margin-right: 15px;
		border-left: 1px solid $color-grey-light-2;
	}

	&__profile {
		margin-right: 2rem;
		display: flex;
		position: relative;
		align-items: center;
		height: 4rem;
		min-width: 18.5rem;
		justify-content: flex-end;
		@include font-size(1.6);

		&::before {
			content: "";
			position: absolute;
			background-image: url("./../assets/SVG/user.svg");
			width: 30px;
			height: 30px;
			background-color: $color-grey-avatar;
			border-radius: 50%;
			border: 1px solid $color-grey-avatar-border;
			left: 15px;
		}

		&--name {
			@include font-weight(200);
			margin: 0 .3rem;
		}
	}
}
