.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 8rem;

  @include media-queries(L) {
    margin-right: 5rem;
    flex: 0 0 calc(50% - 5rem);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
  }

  &__profile {
    margin-right: 2rem;
    @include font-size(1.6);
  }

  &__avatar {
    width: 5rem;
    max-width: 5rem;
    border-radius: 50%;
    background-color: $color-grey-avatar;
    border: 1px solid $color-grey-avatar-border;
  }
}
