.login {
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__profile {
		margin-right: 2rem;
		@include font-size(1.6);

		&--name {
			@include font-weight(200);
			margin: 0 .3rem;
		}
	}
}
