.modal {
	background: $color-white;
	margin: 20px auto;
	padding: 0;
	width: 50vw;
	max-width: 500px;
	position: relative;

	&:focus {
		outline: none;
	}

	@include media-queries(L) {
		width: 60%;
	}

	@include media-queries(M) {
		width: 92%;
		margin: 0 auto;
		top: 25%;
	}
}