.modal {
	background: $color-white;
	margin: 20px auto;
	padding: 48px 90px;
	width: 25%;
	position: relative;

	@include media-queries(L) {
		padding: 40px 70px;
		width: 60%;
	}

	@include media-queries(M) {
		width: 92%;
		padding: 15px;
		margin: 0 auto;
	}
}