@import '../layout/breakpoints';

.modal {
	background: $color-white;
	margin: 20px auto;
	padding: 48px 90px;
	width: 50%;
	position: relative;

	@include media-queries(L) {
		padding: 40px 70px;
		width: 60%;
	}

	@include media-queries(M) {
		width: 92%;
		padding: 15px;
		margin: 0 auto;
	}

	&__details {
		text-align: center;
	}

	&__avatar {
		border-radius: 50%;
		max-width: 70px;
	}

	&__name {
		color: $color-blue-plus;
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		margin: 20px;
		background-image: url('../assets/cross.svg');
		background-repeat: no-repeat;
		background-color: transparent;
		border: none;
		padding: 10px;
	}

	&__label {
		font-size: 10px;
		text-transform: uppercase;
		color: darken($color-back, 20%);
		font-weight: 600;
		margin-right: 10px;

		&--value {
			font-size: 10px;
			font-weight: 600;
		}
	}

	&__activity {
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;

		@include media-queries(S) {
			display: block;

			.modal__activity-box {
				text-align: center;
				display: grid;
			}
		}
	}

	&__activity-box {
		@include media-queries(S) {
			margin-bottom: 15px;
		}

		&:nth-child(3) {
			display: flex;

			@include media-queries(S) {
				display: grid;
				justify-content: center;
			}
		}
	}

	&__header-container {
		width: 100%;
		display: inline-flex;
		margin-top: 20px;
		border-top: 1px solid $color-back;
		justify-content: center;
		align-items: center;

		button {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				fill: #FFF;
			}
		}

		button.chevron-right {background-color: $color-blue-plus;}
		button.chevron-left {background-color: $color-searchBtn;}
	}

	&__header {
		width: 100%;
		text-align: center;
		font-family: 'Quintessential';
		font-size: 30px;
		color: $color-question-header;
	}

	&__subheader-container {
		margin-bottom: 45px;

		@include media-queries(S) {
			max-width: 170px;
			margin: 1px auto 20px auto;
			display: flex;
		}
	}

	&__subheader {
		text-align: center;
		text-transform: uppercase;
		color: darken($color-back, 20%);

		@include media-queries(S) {
			margin: 40px 0;
		}
	}

	&__numbers-wrapper {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;

		@include media-queries(S) {
			flex-wrap: wrap;
			max-width: 250px;
			margin: 0 auto;
		}
	}

	&__numbers-box {
		width: 85px;
		height: 85px;
		background: $color-question-bg;
		justify-content: center;
		align-items: center;
		display: flex;
		margin: 0 10px;
		text-align: center;

		.numbers {
			span {
				display: block;
				font-size: 22px;
				font-weight: bold;
				margin-bottom: 8px;
			}

			p {
				font-family: 'Quintessential';
				font-size: 12px;
				margin: 0;
			}
		}

		&--box-1 {
			transform: rotate(41deg);

			.numbers {
				//position: absolute;
				transform: rotate(-41deg);
			}
		}

		&--box-2 {
			transform: rotate(78deg);

			.numbers {
				//position: absolute;
				transform: rotate(-78deg);
			}
		}

		&--box-3 {
			transform: rotate(54deg);

			.numbers {
				//position: absolute;
				transform: rotate(-54deg);
			}
		}

		&--box-4 {
			transform: rotate(15deg);

			.numbers {
				//position: absolute;
				transform: rotate(-15deg);
			}
		}
	}

	&__related-people-image {
		max-width: 50px;
	}
}

.modal {
	&__related-people-wrapper {
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;
		max-width: 300px;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	&__related-people-box {
		height: 85px;
		width: 85px;
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		background: repeating-linear-gradient(45deg, #ccc, #fff 1px, #fff 1px, #fff 4px);
		text-align: center;
	}

	&__related-people-person {
		font-weight: bold;
		font-size: 14px;
		color: $color-blue-plus;
	}

	&__hottest-wrapper {
		margin-bottom: 40px;
	}

	&__person-activity {
		background: repeating-linear-gradient(45deg, #ccc, #fff 1px, #fff 1px, #fff 4px);
		width: 100%;
		height: auto;
		position: absolute;
		left: 0;
		display: flex;
		justify-content: center;

		&--name {
			font-weight: bold;
			font-size: 14px;
			color: $color-blue-plus;
			padding-right: 10px;
		}

		.column {
			margin-top: 30px;
			text-align: center;

			h4 {
				display: inline-block;
			}

			h5 {
				font-size: 16px;
				font-family: 'Quintessential';
				color: $color-blue-plus;
				margin: 0;
			}
		}

		&--img {
			max-width: 50px;
			position: absolute;
			top: -25px;
		}
	}

	&__stats {
		display: inline-flex;

		&--element {
			list-style-type: none;
			padding: 25px 20px;
			font-size: 14px;
			font-style: italic;
		}

		&--number {
			color: $color-black;
			font-weight: bold;
			margin-right: 5px;
		}
	}
}

.modal {
	&__activity-level {
		@include media-queries(S) {
			display: flex;
		}
	}

	&__activity-box [class*="level-"] {
		height: 18px;
		width: 18px;
		background: none;
		display: inline-flex;
		margin: 0 5px;
	}

	[class*="level-"].active {
		svg {
			fill: $color-avtive-level;
		}
	}
}

