.credits {
	text-transform: uppercase;

	&__value {
		@include font-size(1.8);
		@include font-weight(700);
		text-decoration: underline;
		color: $rate-very-good;
		margin-left: 1rem;
	}
}

.payments {
	margin-right: 2rem;
	margin-left: 2rem;
}