.search {
	flex: 0 0 60%;

	display: flex;
	align-items: center;
	height: 8rem;
	margin-left: 8rem;

	&::before {
		content: "";
		position: absolute;
		background-image: url('../assets/SVG/magnifying-glass.svg');
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 27px;
		width: 8rem;
		height: 8rem;
	}

	@include media-queries(L) {
		flex: 0;
		width: 50%;
		padding: 20px;
	}

	@media only screen and (max-width: $bp-smallest) {
		order: 1;
		flex: 0 0 100%;
		background-color: $color-grey-light-2;
	}

	&__input {
		font-family: inherit;
		@include font-size(2.2);
		background-color: $color-white;
		border: none;
		color: inherit;
		padding: .7rem 5rem;
		width: 90%;
		transition: all .2s;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media-queries(L) {
			padding: 1rem 2rem;
			height: 17px;
		}

		&:focus {
			outline: none;
			width: 100%;
			transition: all .2s;
		}

		&::-webkit-input-placeholder {
			font-weight: 100;
			color: $color-grey-light-4;
		}
	}

	&__input:focus + &__button {
		background-color: $color-grey-light-3;
	}

	&__button {
		border: none;
		background-color: $color-grey-light-2;
		background-image: url('../assets/SVG/magnifying-glass.svg');
		background-repeat: no-repeat;

		&:focus {
			outline: none;
		}

		&:active {
			transform: translateY(2px);
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;

		fill: $color-grey-dark-3;
	}
}