.single-comment {
	&__container {
		display: flex;
		position: relative;
		margin: 0;
		width: 100%;
		box-shadow: 4px -3px 9px 1px rgba($color-black, .15);
	}

	&__avatar-panel {
		border: 1px solid $color-border-search;
		background: $color-white;
	}

	&__person-panel {
		background: $color-white;

		.when {
			display: inline-block;
			font-size: 14px;
			font-family: 'Quintessential';

			&::before {
				content: "• ";
				padding: 0 10px;
			}
		}
	}

	&__content {
		background: $color-white;
		display: grid;
		grid-template-columns: 70% 30%;
		padding-bottom: 35px;
	}

	&__counter-btn-container {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 33px;
		right: 25px;
	}
}

.single-comment__container:not(:first-of-type) {
	width: 85%;
	right: 0;
	display: flex;
	margin: 0;
	float: right;
}
