.viewSwitcher {
	border-bottom: $line;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	border-bottom: 1px solid $color-grey-dark-1;

	&__views {
		padding: 1rem;
		display: flex;
		margin-right: 1rem;
		//margin-left: 2rem;
	}

	&__filter {
		display: inline-block;
		margin-right: 1rem;
		cursor: pointer;
		transition: all .4s;

		svg {
			fill: $color-grey-light-4;
		}

		&:hover {
			svg {
				fill: $color-grey-dark-1;
			}
		}

		&--active {
			svg {
				fill: $color-grey-dark-1;
			}
		}
	}

	&__counter {
		right: 0;
		position: absolute;
		margin-right: 2rem;
		@include font-size(1.8);
		@include font-weight(200);
	}

	&__counter-text {
		display: flex;
		align-items: center;
		text-decoration: underline;
		color: $color-white;
	}

	&__counter-number {
		@include font-size(4.5);
		@include font-weight(700);
		color: $color-grey-dark-1;
		margin: 0 10px;
		text-decoration: none;
	}
}
