
/// S variables for small devices
/// @group variables
$S: "only screen and (min-width: 480px)";

/// M variables for small devices
/// @group variables
$M: "only screen and (min-width: 768px)";

/// L variables for small devices
/// @group variables
$L: "only screen and (min-width: 1024px)";

/// XL variables for small devices
/// @group variables
$XL: "only screen and (min-width: 1600px)";

/// RETINA variables for small devices
/// @group variables
$Retina: "only screen and (min-width: 2340px)";

/// ULTRABOOK variables for small devices
/// @group variables
$ultrabook: "(min-width: 1024px) and (max-width: 1440px)";

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

$navWidth: 8rem;

// Base colors
$color-white: #fff;
$color-black: #000;

// Settings color
$color-rejected: #dc173f;

// Secondary template
//$color-primary: #17A5FD;
//$color-primary-light: lighten($color-primary, 30%);
//$color-primary-dark: darken($color-primary, 30%);

$material-color-green: #58E0C2;
$material-color-blue: #7498FB;
$material-color-yellow: #F5A622;
$material-color-pink: #FE8DB2;
$material-color-red: #ED5E68;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f2f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-light-5: #eee;
$color-grey-avatar: #E7E7E7;
$color-grey-avatar-border: #CECECE;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$rate-bad: #BC2026;
$rate-poor: #EF4723;
$rate-fair: #F68E1F;
$rate-good: #FECC09;
$rate-very-good: #B0DF60;
$rate-excellent: #0F9246;

$color-send: #C9E995;

$color-dash-background: #F5F8FD;

$base-height-space: 8rem;
$line: 1px solid $color-grey-light-2;
$oswald: 'Oswald', sans-serif;