html {
	box-sizing: border-box;
	font-size: 62.5%;

	@media only screen and (max-width: $bp-large) {
		font-size: 50%;
	}
}

body {
	@include font-family($oswald);
	font-weight: 400;
	counter-reset: items-left;
	color: $color-grey-dark-2;
	//background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
	//background-size: cover;
	//background-repeat: no-repeat;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

body.ReactModal__Body--open {
	overflow: hidden;
}

#root {
	position: relative; //Need for dropzone overlay
}