/* COLORS */
$color-white: #fff;
$color-black: #000;

$color-back: #cacbcd;
$color-question-header: #2d2c2e;

$color-active: #a7a9ac;

$color-blue-plus: #0266b3;

$color-search-bg: #fbfbfb;
$color-border-search: #eeeeee;
$color-searchBtn: #a7a9ac;

$color-salomon: #ffe1ad;

$color-content: #fbfbfb;

$color-question-bg: #dff3fd;

$color-more: #dc173f;
$color-avtive-level: #FD3A37;

/* SPACING */
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;